
<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/发动机控制模块/动作测试</div>
</div>
<div class="body" style="overflow: auto">
    <table>
        <tr  style="height:20px;line-height:20px;background: #eee;font-size: 8px;text-align: center;vertical-align: middle">
            <td class="canshu">参数名称</td>
            <td class="muokuai">控制模块</td>
            <td class="shuzhi">数值</td>
            <td class="danwei">单位</td>
        </tr>
        <tr style="height:24px;line-height:24px;background: #fff;font-size: 12px;text-align: center;vertical-align: middle" ng-repeat="item in obdscanServiceZdata.obdscanData[obdscanServiceZdata.actionType].neiRong">
            <td class="canshu" style="text-align: left;padding: 0px 1px 0px 3px" ng-bind="item[0]"></td>
            <td class="muokuai" style="text-align: left;padding: 0 2px">发动机控制模块</td>
            <td class="shuzhi" style="text-align: right;padding: 0 2px" >{{obdscanServiceMout[item[1]] | number:2}}</td>
            <td class="danwei" style="text-align: right;padding: 0 2px" ng-bind="item[2]"></td>
        </tr>
    </table>
    <div style="margin: 10px 0px">
        <div style="width:312px;background: #ccc;margin: 0px auto">
            <div class="biaoti">{{obdscanServiceZdata.obdscanData[obdscanServiceZdata.actionType].title}}</div>
        </div>
        <div class="jqqg_dzcs" ng-show="obdscanServiceZdata.layerType=='lay1'">
            <div class="abs mingming">命令状态 <span>未命名的</span></div>
            <div class="abs jqqg-ygb" ng-click="ygb()"></div>
            <div class="abs jqqg-kl" ng-click="kl()"></div>
        </div>
        <div class="cxdcf_dzcs" ng-show="obdscanServiceZdata.layerType=='lay2'">
            <div class="abs mingming">命令状态 <span>未命名的</span></div>
            <div class="abs cxdcf-left" ng-click="dzcs_left()"></div>
            <div class="abs cxdcf-right" ng-click="dzcs_right()"></div>
            <div class="abs cxdcf-hk"></div>
        </div>
        <div class="bg_2" ng-show="obdscanServiceZdata.layerType=='lay3'">
            <div class="abs mingming">命令状态 <span>未命名的</span></div>
            <div class="abs bg_2_left" ng-click="dzcs_left()"></div>
            <div class="abs bg_2_right" ng-click="dzcs_right()"></div>
            <div class="abs bg_2_hk"></div>
        </div>
        <div class="bg_1" ng-show="obdscanServiceZdata.layerType=='lay4'">
            <div class="abs mingming">命令状态 <span>未命名的</span></div>
            <div class="abs bg_1_left  cs-anNiu" ng-click="cs_close(obdscanServiceZdata.actionType)">关闭</div>
            <div class="abs bg_1_right cs-anNiu" ng-click="cs_dianliang(obdscanServiceZdata.actionType)">点亮</div>
        </div>
        <div class="bg_3" ng-show="obdscanServiceZdata.layerType=='lay5'">
            <div class="abs mingming">命令状态 <span>未命名的</span></div>
            <div class="abs bg_2_left" ng-click="dzcs_left()"></div>
            <div class="abs bg_2_right" ng-click="dzcs_right()"></div>
            <div class="abs bg_2_hk"></div>
        </div>
        <div class="bg_5" ng-show="obdscanServiceZdata.layerType=='lay6'">
            <div class="abs mingming">命令状态 <span>未命名的</span></div>
            <div class="abs bg_2_left" ng-click="dzcs_left()"></div>
            <div class="abs bg_2_right" ng-click="dzcs_right()"></div>
            <div class="abs cxdcf-hk"></div>
        </div>
    </div>

    <!--<div class="action-box">说明：{{obdscanServiceZdata.obdscanData[obdscanServiceZdata.actionType][1]}}</div>-->
    <!--<div class="action-box">可用命令和预测结果：{{obdscanServiceZdata.obdscanData[obdscanServiceZdata.actionType][2]}}</div>-->
    <!--<div class="action-box">执行条件：{{obdscanServiceZdata.obdscanData[obdscanServiceZdata.actionType][3]}}</div>-->
    <!--<div class="btnwrap">-->
        <!--<button id="{{obdscanServiceZdata.obdscanData[obdscanServiceZdata.actionType][4]}}" class="confirm" ng-click="changeTemplate('actiontest','action',$event.target.id)"></button>-->
        <!--<button class="cancel" ng-click="changeTemplate('obdscan4','obdscan2','1')"></button>-->
    <!--</div>-->
</div>
