<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/车身控制模块/读取数据流/车窗数据</div>
</div>
<div class="body">
    <div class="obdscan-bottom-bell">
        <div class="ac">左后窗主控制下降开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRWCtrlFallSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRWCtrlFallSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRWCtrlFallSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">左后窗主控制快速开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRWCtrlFastSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRWCtrlFastSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRWCtrlFastSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">左后窗主控制上升开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRWCtrlRiseSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRWCtrlRiseSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRWCtrlRiseSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">左后窗上升开关（位于车门）</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRWRiseSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRWRiseSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRWRiseSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">乘客车窗读入</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PassWindowRead_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PassWindowRead_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PassWindowRead_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">乘客车窗电机倒转状态</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PWMotorRevState_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PWMotorRevState_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PWMotorRevState_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">乘客车窗电机感应系统故障状态</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PWMIndSysFauSta_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PWMIndSysFauSta_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PWMIndSysFauSta_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">乘客车窗电机热保护状态</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PWMHeatSafeSta_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PWMHeatSafeSta_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PWMHeatSafeSta_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">乘客车窗电机欠压状态</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PWMUndvoltSta_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PWMUndvoltSta_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PWMUndvoltSta_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">乘客车门上的车窗开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PassDrWindowSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PassDrWindowSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PassDrWindowSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">右后窗主控制下降开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRWCtrlFallSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRWCtrlFallSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRWCtrlFallSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">右后窗主控制快速开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRWCtrlFastSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRWCtrlFastSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRWCtrlFastSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">右后窗主控制上升开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRWCtrlRiseSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRWCtrlRiseSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRWCtrlRiseSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">右后车门上的车窗开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRDrWindowSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRDrWindowSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRDrWindowSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">车窗锁止开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_WindowLockSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_WindowLockSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_WindowLockSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">儿童安全锁/车窗锁止开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_SafeLockSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_SafeLockSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_SafeLockSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">驾驶员车窗已读入</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DriverWindowRead_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DriverWindowRead_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DriverWindowRead_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">驾驶员车窗主控制下降开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWinCrtlFallSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWinCrtlFallSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWinCrtlFallSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">驾驶员车窗主控制快速开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWinCrtlFastSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWinCrtlFastSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWinCrtlFastSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">驾驶员车窗主控制上升开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWinCrtlRiseSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWinCrtlRiseSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWinCrtlRiseSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">驾驶员车窗电机倒转状态</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWinMotorRevSta_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWinMotorRevSta_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWinMotorRevSta_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">驾驶员车窗电机感应系统故障状态</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWMIndFauSta_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWMIndFauSta_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWMIndFauSta_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">驾驶员车窗电机热保护状态</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWMHeatSafeSta_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWMHeatSafeSta_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWMHeatSafeSta_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">驾驶员车窗电机欠压状态</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWMUndvoltSta_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWMUndvoltSta_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DWMUndvoltSta_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">前部乘客车窗主控制下降开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FPWCrtlFallSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FPWCrtlFallSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FPWCrtlFallSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">前部乘客车窗主控制快速开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FPWCrtlFastSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FPWCrtlFastSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FPWCrtlFastSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">前部乘客车窗主控制上升开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FPWCrtlRiseSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FPWCrtlRiseSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FPWCrtlRiseSwt_x_x=='3'">故障</span>
    </div>
</div>























































