<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/车身控制模块</div>
</div>
<div class="body">
    <ul class="car-list">
        <li style="cursor: pointer" ng-click="changeTemplate('cs3','cs2','1')">当前故障码</li>
        <li style="cursor: pointer" ng-click="changeTemplate('cs4','cs2','1')">历史故障码</li>
        <li style="cursor: pointer" ng-click="changeTemplate('cs5','cs2','0')">清除故障码</li>
        <li style="cursor: pointer" ng-click="changeTemplate('cs6','cs2','1')">读取数据流</li>
        <li style="cursor: pointer" ng-click="changeTemplate('cs7','cs2','1')">冻结帧数据流</li>
        <li style="cursor: pointer" ng-click="changeTemplate('cs8','cs2','1')">动作测试</li>
        <li>高级功能</li>
    </ul>
</div>