<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/车身控制模块/读取数据流</div>
</div>
<div class="body">
    <ul class="car-list">
        <li style="cursor: pointer" ng-click="changeTemplate('dpkz','cs6','1')">底盘控制数据</li>
        <li style="cursor: pointer" ng-click="changeTemplate('cwzm1','cs6','1')">车外照明1数据</li>
        <li style="cursor: pointer" ng-click="changeTemplate('cwzm2','cs6','1')">车外照明2数据</li>
        <li style="cursor: pointer" ng-click="changeTemplate('ccsj','cs6','1')">车窗数据</li>
        <li style="cursor: pointer" ng-click="changeTemplate('ygqsj','cs6','1')">雨刮器/清洗器数据</li>
        <li style="cursor: pointer" ng-click="changeTemplate('fdxtbj','cs6','1')">防盗系统报警触发器数据</li>
        <li style="cursor: pointer" ng-click="changeTemplate('cljr','cs6','1')">车辆接入数据</li>
    </ul>
</div>
