<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/车身控制模块/动作测试</div>
</div>
<div class="body">
    <ul class="car-list">
        <li style="cursor: pointer" ng-click="changeTemplate('csaction','cs8','1');actionTest('zqdd','lay10');">左侧前大灯</li>
        <li style="cursor: pointer" ng-click="changeTemplate('csaction','cs8','1');actionTest('yqdd','lay10');">右侧前大灯</li>
        <li style="cursor: pointer" ng-click="changeTemplate('csaction','cs8','1');actionTest('yuanguang','lay10');">远光</li>
        <li style="cursor: pointer" ng-click="changeTemplate('csaction','cs8','1');actionTest('chemensuo','lay11');">所有车门锁定/解锁</li>
        <li style="cursor: pointer" ng-click="changeTemplate('csaction','cs8','1');actionTest('xlxg','lay12');">行李箱盖解锁</li>
        <li style="cursor: pointer">挡风玻璃挂水器电机继电器</li>
        <li style="cursor: pointer" ng-click="changeTemplate('csaction','cs8','1');actionTest('lbjdq','lay10');">喇叭继电器</li>
    </ul>
</div>