
<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/车身控制模块/动作测试</div>
</div>
<div class="body" style="overflow: auto">
    <table>
        <tr  style="height:20px;line-height:20px;background: #eee;font-size: 8px;text-align: center;vertical-align: middle">
            <td class="canshu">参数名称</td>
            <td class="muokuai">控制模块</td>
            <td class="shuzhi">数值</td>
            <td class="danwei">单位</td>
        </tr>
        <tr style="height:24px;line-height:24px;background: #fff;font-size: 12px;text-align: center;vertical-align: middle" ng-repeat="item in obdscanServiceZdata.obdscanCS[obdscanServiceZdata.actionType].neiRong">
            <td class="canshu" style="text-align: left;padding: 0px 1px 0px 3px" ng-bind="item[0]"></td>
            <td class="muokuai" style="text-align: left;padding: 0 2px">车身控制模块</td>
            <td class="shuzhi" style="text-align: right;padding: 0 2px" ng-bind="item[1]"></td>
            <td class="danwei" style="text-align: right;padding: 0 2px" ng-bind="item[2]"></td>
        </tr>
    </table>
    <div style="margin: 10px 0px">
        <div style="width:312px;background: #ccc;margin: 0px auto">
            <div class="biaoti">{{obdscanServiceZdata.obdscanCS[obdscanServiceZdata.actionType].title}}</div>
        </div>
        <div class="bg_1" ng-show="obdscanServiceZdata.layerType=='lay10'">
            <div class="abs mingming">命令状态 <span>未命名的</span></div>
            <div class="abs bg_1_left cs-anNiu" ng-click="cs_bhd(obdscanServiceZdata.actionType)">不活动</div>
            <div class="abs bg_1_right cs-anNiu" ng-click="cs_jh(obdscanServiceZdata.actionType)">激活</div>
        </div>
        <div class="bg_cms" ng-show="obdscanServiceZdata.layerType=='lay11'">
            <div class="abs cms_1 cs-anNiu" id="cms1" ng-click="cs_jiesuo('1')">所有车门锁止</div>
            <div class="abs cms_1 cs-anNiu" id="cms2" style="left:106px;" ng-click="cs_jiesuo('2')">驾驶员车门解锁</div>
            <div class="abs cms_1 cs-anNiu" id="cms3" style="left:210px;" ng-click="cs_jiesuo('3')">乘客车门解锁</div>
        </div>
        <div class="bg_1" ng-show="obdscanServiceZdata.layerType=='lay12'">
            <div class="abs mingming">命令状态 <span>未命名的</span></div>
            <div class="abs bg_1_long cs-anNiu" ng-click="cs_jiesuo(obdscanServiceZdata.actionType)">解锁</div>
        </div>
    </div>
</div>
