<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/车身控制模块/读取数据流/车外照明1数据</div>
</div>
<div class="body">
    <div class="obdscan-bottom-bell">
        <div class="ac">左后转向信号灯/制动灯指令</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRTurnSigLed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRTurnSigLed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRTurnSigLed_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">左转向信号开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LeftTurnSigSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LeftTurnSigSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LeftTurnSigSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">牌照灯指令</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LicPlaLampInd_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LicPlaLampInd_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LicPlaLampInd_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">驻车灯开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_ParkingLampSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_ParkingLampSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_ParkingLampSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">右前转向信号灯/危险指示灯指令</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RFTurnSigLed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RFTurnSigLed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RFTurnSigLed_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">右后转向信号灯/制动灯指令</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRTurnSigLed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRTurnSigLed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRTurnSigLed_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">右转向信号开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RightTurnSigSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RightTurnSigSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RightTurnSigSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">自动前大灯停用开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_AutoHeadStopSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_AutoHeadStopSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_AutoHeadStopSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">倒车灯继电器指令</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_ReverRelayInd_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_ReverRelayInd_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_ReverRelayInd_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">中央制动灯指令</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_CenBrakeLampInd_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_CenBrakeLampInd_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_CenBrakeLampInd_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">前雾灯继电器指令</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FFogLampRelayInd_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FFogLampRelayInd_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FFogLampRelayInd_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">前雾灯开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FFogLampSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FFogLampSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FFogLampSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">危险指示灯开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RiskIndLampSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RiskIndLampSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RiskIndLampSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">前大灯闪光开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_HeadFlashSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_HeadFlashSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_HeadFlashSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">前大灯开启开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_HeadlightSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_HeadlightSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_HeadlightSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">远光指令</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DisLightInd_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DisLightInd_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DisLightInd_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">远光选择开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DisLightSeleSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DisLightSeleSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DisLightSeleSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">左前转向信号灯/危险指示灯指令</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LFTurnSigLed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LFTurnSigLed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LFTurnSigLed_x_x=='3'">故障</span>
    </div>
</div>




















