<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/电子制动控制模块/电磁阀数据</div>
</div>
<div class="body">
    <div class="obdscan-bottom-bell">
        <div class="ac">泵电机继电器反馈</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PuMoRelayFeed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PuMoRelayFeed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_PuMoRelayFeed_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">主隔离电磁阀反馈</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_IsoElcValFeed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_IsoElcValFeed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_IsoElcValFeed_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">原始加注电磁阀反馈</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FiElecValFeed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FiElecValFeed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_FiElecValFeed_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">辅助隔离电磁阀反馈</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_AuIsoElecValFeed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_AuIsoElecValFeed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_AuIsoElecValFeed_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">车辆稳定性系统继电器反馈</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_VeStSysReFeed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_VeStSysReFeed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_VeStSysReFeed_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">辅助加注电磁阀反馈</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_AuFiElecValFeed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_AuFiElecValFeed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_AuFiElecValFeed_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">右后进气电磁阀反馈</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRInEleValFeed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRInEleValFeed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRInEleValFeed_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">右前排气电磁阀反馈</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RFExEleValFeed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RFExEleValFeed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RFExEleValFeed_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">右前进气电磁阀反馈</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RFInEleValFeed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RFInEleValFeed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RFInEleValFeed_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">左后进气电磁阀反馈</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRInEleValFeed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRInEleValFeed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRInEleValFeed_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">左前排气电磁阀反馈</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LFExEleValFeed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LFExEleValFeed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LFExEleValFeed_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">左后排气电磁阀反馈</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRExEleValFeed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRExEleValFeed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LRExEleValFeed_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">右后排气电磁阀反馈</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRExEleValFeed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRExEleValFeed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_RRExEleValFeed_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">左前进气电磁阀反馈</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LFInEleValFeed_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LFInEleValFeed_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_LFInEleValFeed_x_x=='3'">故障</span>
    </div>
</div>