<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/发动机控制模块/冻结帧数据流</div>
</div>
<div class="body">
    <div class="header3">故障记录</div>
    <ul id="car-list1" class="car-list">
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P16A0_x=='916010'">P16A0 传感器通信电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0458_x=='90458'">P0458 蒸发排放（EVAP）吹洗电磁阀控制电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0443_x=='90443'">P0443 蒸发排放（EVAP）吹洗电磁阀控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0030_x=='90030'">P0030 加热型氧传感器加热器控制电路传感器1</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0031_x=='90031'">P0031 加热型氧传感器加热器控制电路电压过低测试状态，传感器1</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0037_x=='90037'">P0037 加热型氧传感器加热器控制电路电压过低测试状态，传感器2</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0036_x=='90036'">P0036 加热型氧传感器加热器控制电路传感器2</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0661_x=='90661'">P0661 进气歧管调谐控制阀控制电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0660_x=='90660'">P0660 进气歧管调谐控制阀控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0192_x=='90192'">P0192 燃油导轨压力传感器电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P2311_x=='90300'">P0300 检测到发动机缺火</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0352_x=='90352'">P0352 点火线圈2控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0365_x=='90365'">P0365 排气凸轮轴位置传感器电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0340_x=='90340'">P0340 进气凸轮轴位置传感器电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0102_x=='90102'">P0102 质量空气流量（MAF）传感器电路低频</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0353_x=='90353'">P0353 点火线圈2控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0108_x=='90108'">P0108 歧管绝对压力（MAP）传感器电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0106_x=='90106'">P0106 歧管绝对压力（MAP）传感器性能</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0010_x=='90010'">P0010 进气凸轮轴位置执行器电磁阀控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P2091_x=='92091'">P2091 排气凸轮轴位置执行器电磁阀控制电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0013_x=='90013'">P0013 排气凸轮轴位置执行器电磁阀控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P129D_x=='912904'">P129D 燃油泵驱动器控制模块点火装置打开/启动开关电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P062B_x=='906202'">P062B 控制模块燃油喷射器控制性能</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P1682_x=='91682'">P1682 点火1开关电路2</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0689_x=='90689'">P0689 发动机控制点火继电器反馈电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P1682_x=='91682'">P1682 点火1开关电路2</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0616_x=='90616'">P0616 起动机继电器控制电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0615_x=='90615'">P0615 起动机继电器控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P171B_x=='917102'">P171B 变速器充液电磁阀电路低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P171A_x=='917101'">P171A 变速器充液电磁阀电路开路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0598_x=='90598'">P0598 发动机冷却液节温器加热器控制电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0597_x=='90597'">P0597 发动机冷却液节温器加热器控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0351_x=='90351'">P0351 点火线圈1控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0354_x=='90354'">P0354 点火线圈1控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P16A1_x=='916011'">P16A1 传感器通信电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P2089_x=='92089'">P2089 进气凸轮轴位置执行器电磁阀控制电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P00F4_x=='900064'">P00F4 进气湿度传感器电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0463_x=='90463'">P0463 燃油油位传感器电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P2229_x=='92229'">P2229 大气压力（BARO）传感器电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0073_x=='90073'">P0073 环境空气温度传感器电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0533_x=='90533'">P0533 空调（A/C）制冷剂压力传感器电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0097_x=='90097'">P0097 进气温度（IAT）传感器2电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0113_x=='90113'">P0113 进气温度（IAT）传感器电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P2227_x=='92227'">P2227 大气压力（BARO）传感器性能</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0137_x=='90137'">P0137 加热型氧传感器电路电压过低，传感器2</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0141_x=='90141'">P0141 加热型氧传感器加热器性能传感器2</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P228D_x=='922804'">P228D 燃油压力调节器1控制性能 - 压力过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0089_x=='90089'">P0089 燃油压力调节器性能</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P135A_x=='913501'">P135A 点火线圈供电电压电路，缸列1</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0135_x=='90135'">P0135 加热型氧传感器加热器性能传感器1</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0203_x=='90203'">P0203 气缸3喷射器控制电路</div>
    </ul>
    <div ng-show=" obdscanServiceZdata.dongJieZheng">
        <div class="header3">冻结帧参数（发动机控制模块）</div>
        <div class="obdscan-bottom-bell"><div class="ac">发动机转速</div><span ng-bind="obdscanServiceZdata.Out1Eng_x_EngSpeed_x_x | number:2"></span>分钟转数</div>
        <div class="obdscan-bottom-bell"><div class="ac">发动机冷却液温度传感器</div><span ng-bind="obdscanServiceZdata.Out1Eng_x_CoolTempSensor_x_x | number:2"></span>°C</div>
        <div class="obdscan-bottom-bell"><div class="ac">进气温度传感器</div><span ng-bind="obdscanServiceZdata.Out1Eng_x_InAirTempSen_x_x | number:2"></span>°C</div>
        <div class="obdscan-bottom-bell"><div class="ac">质量空气流量传感器</div><span ng-bind="obdscanServiceZdata.Out1Eng_x_MAFSensor_x_x | number:2"></span>克/秒</div>
        <div class="obdscan-bottom-bell"><div class="ac">发动机负荷</div><span ng-bind="obdscanServiceZdata.Out1Eng_x_EngLoad_x_x | number:2"></span>%</div>
        <div class="obdscan-bottom-bell"><div class="ac">歧管绝对压力传感器</div><span ng-bind="obdscanServiceZdata.Out1Eng_x_MfAbsPreSensor_x_x | number:2"></span>千帕</div>
        <div class="obdscan-bottom-bell"><div class="ac">大气压力</div><span ng-bind="obdscanServiceZdata.Out1Eng_x_AmbPre_x_x | number:2"></span>千帕</div>
        <div class="obdscan-bottom-bell"><div class="ac">燃油控制回路状态</div><span ng-show="obdscanServiceZdata.Out1Eng_x_FuelCtrlLoopSta1_x_x=='1'">已关闭</span><span ng-show="obdscanServiceMout.Out1Eng_x_FuelCtrlLoopSta1_x_x=='2'">开路</span><span ng-show="obdscanServiceMout.Out1Eng_x_FuelCtrlLoopSta1_x_x=='3'">故障</span></div>
        <div class="obdscan-bottom-bell"><div class="ac">短期燃油修正</div><span ng-bind="obdscanServiceZdata.Out1Eng_x_ShortFT_x_x | number:2"></span>%</div>
        <div class="obdscan-bottom-bell"><div class="ac">长期燃油修正</div><span ng-bind="obdscanServiceZdata.Out1Eng_x_LongFT_x_x | number:2"></span>%</div>
        <div class="obdscan-bottom-bell"><div class="ac">燃油压力传感器</div><span ng-bind="obdscanServiceZdata.Out1Eng_x_FuelPreSensorVlt_x_x | number:2"></span>千帕</div>
        <div class="obdscan-bottom-bell"><div class="ac">燃油导轨压力传感器</div><span ng-bind="obdscanServiceZdata.Out1Eng_x_FRailPreSensor_x_x | number:2"></span>兆帕</div>
        <div class="obdscan-bottom-bell"><div class="ac">点火正时</div><span ng-bind="obdscanServiceZdata.Out1Eng_x_IgnTiming_x_x | number:2"></span>°</div>
        <div class="obdscan-bottom-bell"><div class="ac">蒸发排放吹洗电磁阀指令</div><span ng-bind="obdscanServiceZdata.Out1Eng_x_EvapEmiPSVInd_x_x | number:2"></span>%</div>
    </div>
</div>