<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/车身控制模块/读取数据流/底盘控制数据</div>
</div>
<div class="body">
    <div class="obdscan-bottom-bell">
        <div class="ac">驻车制动状态</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_ParkingBrakeSta_x_x | number:2"></span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">牵引力控制开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_TractionCtrlSwt_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_TractionCtrlSwt_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_TractionCtrlSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">代客泊车开关</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_ValetSwitch_x_x | number:2"></span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">自动变速器手动换挡开关</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_AuTrMaShiftSwt_x_x=='1'">关闭</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_AuTrMaShiftSwt_x_x=='2'">点亮</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_AuTrMaShiftSwt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">制动踏板已踩下</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_BrPedalStepped_x_x | number:2"></span>
        伏
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">已达到制动踏板最初行程位置</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedTr2IniPos_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedTr2IniPos_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedTr2IniPos_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">制动踏板位置传感器</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_BrPedalSensor_x_x | number:2"></span>
        伏
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">读入过程中，制动踏板位置传感器电压过高</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedSenHiVlt_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedSenHiVlt_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedSenHiVlt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">制动踏板位置传感器读入</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedSenRead_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedSenRead_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedSenRead_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">制动踏板位置传感器读入的释放位置</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedSenReadRel_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedSenReadRel_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedSenReadRel_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">制动踏板位置传感器读入的释放位置</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_BrPedSenReadRel1_x_x | number:2"></span>
        %
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">制动踏板位置传感器读入的释放位置</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_BrPedSenReadRel2_x_x | number:2"></span>
        伏
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">读入过程中，制动踏板位置传感器电压过低</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedSenLoVlt_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedSenLoVlt_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedSenLoVlt_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">读入过程中，制动踏板位置传感器移动</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedSenMove_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedSenMove_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedSenMove_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">制动踏板位置传感器参考电压</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_BrPedRefVlt_x_x | number:2"></span>
        伏
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">制动踏板从释放位置踩下</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedRelease_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedRelease_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedRelease_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">制动变速器换档互锁电磁线圈执行器指令</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_BrGeInlockSoAcIn_x_x | number:2"></span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">计算的制动踏板位置</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_CalBrPedPosPer_x_x | number:2"></span>
        %
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">计算的制动踏板位置</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_CalBrPedPosVlt_x_x | number:2"></span>
        伏
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">喇叭继电器指令</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_HornRelayInd_x_x | number:2"></span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">喇叭开关</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_HornSwitch_x_x | number:2"></span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">在驻车开关状态</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_ParkingSwtState_x_x=='1'">否</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_ParkingSwtState_x_x=='2'">是</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_ParkingSwtState_x_x=='3'">故障</span>
    </div>
</div>