<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/电子制动控制模块</div>
</div>
<div class="body">
    <ul class="car-list">
        <li style="cursor: pointer" ng-click="changeTemplate('dzzd3','dzzd2','1')">当前故障码</li>
        <li style="cursor: pointer" ng-click="changeTemplate('dzzd4','dzzd2','1')">历史故障码</li>
        <li style="cursor: pointer" ng-click="changeTemplate('dzzd5','dzzd2','0')">清除故障码</li>
        <li style="cursor: pointer" ng-click="changeTemplate('dzzd6','dzzd2','1')">读取数据流</li>
        <li style="cursor: pointer" ng-click="changeTemplate('dzzd7','dzzd2','1')">冻结帧数据流</li>
        <li style="cursor: pointer" ng-click="changeTemplate('dzzd8','dzzd2','1')">动作测试</li>
        <li>高级功能</li>
    </ul>
</div>