<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/电子制动控制模块/防抱死刹车数据</div>
</div>
<div class="body">
    <div class="obdscan-bottom-bell">
        <div class="ac">制动助力器电动真空泵</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrBoEleVacPumpk_x_x=='1'">关闭</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrBoEleVacPumpk_x_x=='2'">打开</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrBoEleVacPumpk_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">制动助力器真空传感器电源</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_BrBoEleVacSenVlt_x_x | number:2"></span>
        伏
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">制动液液位传感器</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrFlLevelSensor_x_x=='1'">未运行</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrFlLevelSensor_x_x=='2'">确定</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrFlLevelSensor_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">车辆稳定性系统状态</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_VehStabiSysState_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_VehStabiSysState_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_VehStabiSysState_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">制动踏板位置传感器</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedalSensor_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedalSensor_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPedalSensor_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">牵引力控制系统状态</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_TractionCtrlSys_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_TractionCtrlSys_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_TractionCtrlSys_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">ABS泵电机电压</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_ABSPumpMotorVlt_x_x | number:2"></span>
        伏
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">制动压力传感器</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_BrPressSensor_x_x | number:2"></span>
        伏
    </div>

    <div class="obdscan-bottom-bell">
        <div class="ac">制动压力达到80巴</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPressSensor80_x_x=='1'">不活动</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPressSensor80_x_x=='2'">激活</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_BrPressSensor80_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">左后车轮转速传感器</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_B5LRSpeedSensor_x_x | number:2"></span>
        公里/小时
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">右后车轮转速传感器</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_B5RRSpeedSensor_x_x | number:2"></span>
        公里/小时
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">右前车轮转速传感器</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_B5RFSpeedSensor_x_x | number:2"></span>
        公里/小时
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">左前车轮转速传感器</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_B5LFSpeedSensor_x_x | number:2"></span>
        公里/小时
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">制动助力器真空传感器</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_BrBoEleSenor_x_x | number:2"></span>
        千帕
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">车辆稳定性系统</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_VehStabilitySys_x_x=='1'">未运行</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_VehStabilitySys_x_x=='2'">确定</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_VehStabilitySys_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">紧急制动助力状态</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_EmeBrPowerState_x_x=='1'">未运行</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_EmeBrPowerState_x_x=='2'">确定</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_EmeBrPowerState_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">胎压监测系统状态</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_TirePreMonSys_x_x=='1'">未运行</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_TirePreMonSys_x_x=='2'">确定</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_TirePreMonSys_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">发动机牵拉控制状态</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_EngTraCtrlState_x_x=='1'">未运行</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_EngTraCtrlState_x_x=='2'">确定</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_EngTraCtrlState_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">动态后制动比例状态</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DynBrProState_x_x=='1'">未运行</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DynBrProState_x_x=='2'">确定</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_DynBrProState_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">牵引力控制系统</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_TraCtrlSys_x_x=='1'">未运行</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_TraCtrlSys_x_x=='2'">确定</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_TraCtrlSys_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">防抱死制动系统</div>
        <span ng-show="obdscanServiceMout.Out1Veh_x_AntiLockBraSys_x_x=='1'">未运行</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_AntiLockBraSys_x_x=='2'">确定</span>
        <span ng-show="obdscanServiceMout.Out1Veh_x_AntiLockBraSys_x_x=='3'">故障</span>
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">方向盘转角</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_SteeringWheAng_x_x | number:2"></span>
        °
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">传送扭矩</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_TransferTorque_x_x | number:2"></span>
        %
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">请求的转矩</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_RequestTorque_x_x | number:2"></span>
        %
    </div>
    <div class="obdscan-bottom-bell">
        <div class="ac">系统电压</div>
        <span ng-bind="obdscanServiceMout.Out1Veh_x_SystemVolt_x_x | number:2"></span>
        伏
    </div>
</div>