
<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/发动机控制模块</div>
</div>
<div class="body">
    <ul class="car-list">
        <li style="cursor: pointer" ng-click="changeTemplate('sbycur','obdscan2','1')">当前故障码</li>
        <li style="cursor: pointer" ng-click="changeTemplate('sby','obdscan2','1')">历史故障码</li>
        <li style="cursor: pointer" ng-click="changeTemplate('sby1','obdscan2','0')">清除故障码</li>
        <li style="cursor: pointer" ng-click="changeTemplate('obdscan3','obdscan2','1')">读取数据流</li>
        <li style="cursor: pointer" ng-click="changeTemplate('dongjiezhen','obdscan2','1')">冻结帧数据流</li>
        <li style="cursor: pointer" ng-click="changeTemplate('obdscan4','obdscan2','1')">动作测试</li>
        <li>高级功能</li>
    </ul>
</div>
