<ul class="obdscan-menu">
    <li class="active"> <span class="car spanbg" ng-click="changeTemplate('pai','obdscanMenu')"><img src="framework/obdscan/images/qczd.png"/></span></li>
    <li class="inactive"><span class="set"><img src="framework/obdscan/images/xtsz.png"/></span></li>
    <li class="inactive"><span class="wxzd" ><img src="framework/obdscan/images/wxzd.png"/></span></li>
    <li class="inactive"><span class="sby" ><img src="framework/obdscan/images/lsjl.png"/></span></li>
    <li class="inactive"><span class="help"><img src="framework/obdscan/images/sybz.png"/></span></li>
</ul>
