<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/发动机控制系统/动作测试</div>
</div>
<div class="body">
    <ul class="car-list">
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','1');actionTest('jqqg','lay1');">进气歧管调节电磁阀</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','1');actionTest('cxdcf','lay2');">蒸发排放吹洗电磁阀</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','1');actionTest('lqyhwjrq','lay2');">发动冷却液恒温器加热器</li>
        <li style="cursor: pointer">发动机控制点火继电器</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','1');actionTest('jqtlzxq','lay5');">进气凸轮轴位置执行器</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','1');actionTest('pqtlzxq','lay5');">排气凸轮轴位置执行器</li>
        <li style="cursor: pointer">发动机机油控制电磁阀</li><!---->
        <li style="cursor: pointer"  ng-click="changeTemplate('action','obdscan4','1');actionTest('fdjzs','lay6');">发动机转速</li>
        <li style="cursor: pointer"  ng-click="changeTemplate('action','obdscan4','1');actionTest('jqmwz','lay2');">节气门位置</li>
        <!--<li style="cursor: pointer">节气门扫描</li>-->
        <li style="cursor: pointer">燃油控制回路状态</li>
        <li style="cursor: pointer">燃油压力</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','1');actionTest('rybqy','lay4');">燃油泵启用</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','1');actionTest('ycgqjrq1','lay4');">加热型氧传感器加热器1</li>
        <li style="cursor: pointer" ng-click="changeTemplate('action','obdscan4','1');actionTest('ycgqjrq2','lay4');">加热型氧传感器加热器2</li>
        <!--<li style="cursor: pointer">起动机继电器</li>-->
    </ul>
</div>