<div class="header">
    <div class="header1">小车匠诊断仪</div>
    <div class="header2">汽车诊断/发动机控制模块/当前故障码</div>
</div>
<div class="body">
    <ul class="car-list">
        <div class="eregerer" ng-show="obdscanServiceMint.In1OBD_x_ClearCode_x_x!='0'"> 故障码已清除
        </div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P129D_x=='912904'"> P129D 燃油泵驱动器控制模块点火打开/起动开关电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P1682_x=='91682'"> P1682 点火开关电路2</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0689_x=='90689'"> P0689 发动机控制点火继电器反馈电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0615_x=='90615'"> P0615 起动机继电器控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0616_x=='90616'"> P0616 起动机继电器控制电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P135A_x=='913501'"> P135A 点火线圈电源电压电路 - 缸组1</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0597_x=='90597'"> P0597 发动机冷却液节温器加热器控制电路故障</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0598_x=='90598'"> P0598 发动机冷却液节温器加热器控制电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P06DA_x=='906041'"> P06DA 发动机机油压力控制电磁阀控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P06DB_x=='906042'"> P06DB 发动机机油压力控制电磁阀控制电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0443_x=='90443'"> P0443 蒸发排放吹洗电磁阀控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0458_x=='90458'"> P0458 蒸发排放（EVAP）清污电磁阀控制电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0030_x=='90030'"> P0030 加热型氧传感器加热器控制电路 - 传感器1</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0031_x=='90031'"> P0031 加热型氧传感器加热器控制电路电压过低 - 传感器1</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0036_x=='90036'"> P0036 加热型氧传感器加热器控制电路 - 传感器2</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0037_x=='90037'"> P0037 加热型氧传感器加热器控制电路电压过低 - 传感器2</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0135_x=='90135'"> P0135 加热型氧传感器加热器性能 - 传感器1</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0141_x=='90141'"> P0141 加热型氧传感器加热器性能 - 传感器2</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0660_x=='90660'"> P0660 进气歧管调节控制阀控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0661_x=='90661'"> P0661 进气歧管调节控制阀控制电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0351_x=='90351'"> P0351 点火线圈1控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0352_x=='90352'"> P0352 点火线圈2控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0353_x=='90353'"> P0353 点火线圈3控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0354_x=='90354'"> P0354 点火线圈4控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P2311_x=='90300'"> P0300 检测到发动机缺火</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0192_x=='90192'"> P0192 燃油导轨压力传感器电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P16A1_x=='916011'"> P16A1 传感器通信电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P00F4_x=='900064'"> P00F4 进气湿度传感器电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0097_x=='90097'"> P0097 进气温度（IAT）传感器2电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0113_x=='90113'"> P0113 进气温度（IAT）传感器1电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P2227_x=='92227'"> P2227 大气压力（BARO）传感器性能</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P2229_x=='92229'"> P2229 大气压力（BARO）传感器电路高电压</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P121A_x=='912101'"> P121A 质量空气流量（MAF）传感器电源电压控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P121B_x=='912102'"> P121B 质量空气流量（MAF）传感器电源电压控制电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P00C7_x=='900037'"> P00C7 进气压力测量系统 - 多个传感器不合理</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0102_x=='90102'"> P0102 质量空气流量（MAF）传感器电路频率过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0106_x=='90106'"> P0106 歧管绝对压力（MAP）传感器性能</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0108_x=='90108'"> P0108 歧管绝对压力（MAP）传感器电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0340_x=='90340'"> P0340 进气凸轮轴位置传感器电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0365_x=='90365'"> P0365 排气凸轮轴位置传感器电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0010_x=='90010'"> P0010 进气凸轮轴位置执行器电磁阀控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0013_x=='90013'"> P0013 排气凸轮轴位置执行器电磁阀控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P2089_x=='92089'"> P2089 进气凸轮轴位置执行器电磁阀控制电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P2091_x=='92091'"> P2091 排气凸轮轴位置执行器电磁阀控制电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0131_x=='90131'"> P0131 加热型氧传感器电路电压过低 - 传感器1</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0132_x=='90132'"> P0132 加热型氧传感器电路电压过高 - 传感器1</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0137_x=='90137'"> P0137 加热型氧传感器电路电压过低 - 传感器2</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P018C_x=='901803'"> P018C 燃油压力传感器电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P018D_x=='901804'"> P018D 燃油压力传感器电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0463_x=='90463'"> P0463 燃油油位传感器电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0533_x=='90533'"> P0533 空调（A/C）制冷剂压力传感器电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0558_x=='90558'"> P0558 制动助力器压力传感器电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P171A_x=='917101'"> P171A 变速器油压力蓄能器电磁阀控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P171B_x=='917102'"> P171B 变速器油压力蓄能器电磁阀控制电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_U01B0_x=='801020'"> U01B0 与蓄电池监测模块失去通信</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0089_x=='90089'"> P0089 燃油压力调节器性能</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P228D_x=='922804'"> P228D 燃油压力调节器控制性能 - 压力过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0522_x=='90522'"> P0522 发动机机油压力传感器电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0090_x=='90090'"> P0090 燃油压力调节器控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P00C8_x=='900038'"> P00C8 燃油压力调节器高电平控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0325_x=='90325'"> P0325 爆震传感器电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0118_x=='90118'"> P0118 发动机冷却液温度（ECT）传感器电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P00B4_x=='900024'"> P00B4 散热器冷却液温度（RCT）传感器电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_U18A2_x=='8180A2'"> U18A2 与燃油泵驱动器控制模块失去通信</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0627_x=='90627'"> P0627 燃油泵启用电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0629_x=='90629'"> P0629 燃油泵启用电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_U0422_x=='80422'"> U0422 接收到来自车身控制模块的无效数据</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_C027706_x=='7027706'"> C0277 06 制动踏板位置传感器电路电压过低/开路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P057C_x=='905703'"> P057C 制动踏板位置传感器电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P2122_x=='92122'"> P2122 加速踏板位置（APP）传感器1电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P2127_x=='92127'"> P2127 加速踏板位置（APP）传感器2电路电压过低</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_C0110_x=='70110'"> C0110 泵电机电路故障</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0203_x=='90203'">P0203 气缸3喷射器控制电路</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P0073_x=='90073'">P0073 环境空气温度传感器电路电压过高</div>
        <div class="eregerer" ng-show="obdscanServiceMout.Out1Eng_x_FaultCode_P062B_x=='906202'">P062B 控制模块燃油喷射器控制性能</div>


        <!--  <div class="eregerer" ng-show="obdscanServiceMout.Out1Sen_CAM_BtimAdv_x_x!='0'"> P0014 凸轮轴位置 “B” - 正时过于提前或系统性能 (B1)</div>
  -->

    </ul>
</div>
