<div class="scene-nav"><img src="images/scene.png" width="1024" height="530"/></div>
<div class="fdjjc" ng-click="changePage('engine')"></div>
<div class="right-prev-door" ng-click="changePage('rightPrevDoor')"></div>
<div class="right-back-door" ng-click="changePage('rightBackDoor')"></div>
<div class="cockpit" ng-click="changePage('cockpit')"></div>
<div class="trunk" ng-click="changePage('trunk_close')"></div>
<div class="left-prev-door" ng-click="changePage('leftPrevDoor')"></div>
<div class="left-back-door" ng-click="changePage('leftBackDoor')"></div>
<div class="fdj-down" ng-click="changePage('chassis')"></div>



