
.sata{
	z-index: 31;
	position: absolute;
	top: 169px;
	left: 678px;
	width: 292px;
	height: 278px;
	background: red;
	background: url(../images/sataTool.png) no-repeat 0 0;
}

.coe1{
	width:44px;
	height:44px;
	position:absolute;
	top: 0;
	left: 248px;
	cursor:pointer;
	z-index: 1112;
}
.confirmBtn{
	position: absolute;
	right: 7px;
	bottom: 6px;
	cursor: pointer;
	width: 57px;
	height: 30px;
	z-index: 1112;
}
.tool{
	position: absolute;
	top:48px;
	left: 5px;
	width: 176px;
	height: 225px;
	border: 1px solid gray;
}
span{
	margin: 0;
	padding: 0;
}
.types{
	position: absolute;
	height: 225px;
	width: 88px;
	line-height: 45px;
	text-align: center;

}
.types li{
	height: 44px;
	width: 88px;
	border: 1px solid gray;
	background: gainsboro;
	cursor: pointer;
	border-top:hidden;
	border-left:hidden;
}
.types li:last-child{
	border-bottom:hidden;
}
.types li span{
	display: inline-block;
	height: 43px;
	width: 44px;
	text-align: center;
	line-height: 43px;
}
.sizes{
	position: relative;
	top:0;
	left:90px ;
	height: 225px;
	width: 88px;
	/*overflow-y:scroll;*/
	/*overflow-x:hidden;*/
	overflow: hidden;
}
.sizes ul{
	position: absolute;
	top:0;
	left:0;
	width: 85px;
}

.sizes ul li{
    width: 84px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	border: 1px solid gray;
	cursor: pointer;
	border-top:hidden;
	border-right:hidden;
	border-left:hidden;
}
.images{
position: absolute;
	top: 80px;
	left:191px;
	width: 90px;
	height: 130px;
	text-align: center;
}
.num{
	position: absolute;
	top:82px;
	left: 21px;
	width: 50px;
	height: 20px;
	color:yellow;
}
.types li.select{
	background: whitesmoke;
}
.sizes ul li.choise{
	background: orange;
}
/*世达工具样式*/
.sataTool{
	position: absolute;
	top: 57px;
	left:858px;
	width: 62px;
	height: 123px;
	text-align: center;
	cursor: move;
	z-index: 100;
}
.clo{
	width:20px;
	height:20px;
	text-align:right;
	position:absolute;
	top: 0;
	left: 70px;
	font-size:18px;
	color:#fff;
	cursor:pointer;
	z-index: 1112;
	background: url(../images/close.png) no-repeat center center;
}
.sataSize{
	position: absolute;
	top:82px;
	left: 10px;
	width: 50px;
	height: 20px;
	color:yellow;
}
.sata-hot{
	position: absolute;
	top:0;
	width: 62px;
	height: 123px;
	text-align: center;
	background: url("../../../images/sataTool/allenDriver_hot.png")no-repeat;
	z-index: 5;
}