body{width: 1024px;}
DIV {
    text-align:left;
    margin-bottom:0px;
    margin-top:0px;
    margin-right:0px;
    text-indent:0px;
    direction:ltr
}
P {
    text-align:left;
    margin-bottom:10px;
    margin-top:0px;
    margin-right:208px;
    text-indent:0px;
    direction:ltr
}
SPAN {
    font-family:'Adobe Song Std','Adobe Song Std',serif;
    font-size:24pt;
    font-style:normal;
    font-weight:normal
}
OL {
    list-style-type:decimal;
    text-align:left;
    margin-bottom:0px;
    margin-top:0px;
    margin-right:0px;
    text-indent:0px;
    direction:ltr
}
LI {
    list-style-type:none;
    text-align:justify;
    margin-bottom:10px;
    margin-top:0px;
    margin-right:49px;
    margin-left:42px;
    text-indent:-28px;
    direction:ltr
}
DT {
    text-align:justify;
    margin-bottom:10px;
    margin-top:0px;
    margin-right:49px;
    margin-left:42px;
    text-indent:-28px;
    direction:ltr
}
A {
    font-style:normal;
    font-weight:normal
}
DD {
    text-align:justify;
    margin-bottom:10px;
    margin-top:0px;
    margin-right:49px;
    margin-left:42px;
    text-indent:-28px;
    direction:ltr
}
TABLE {
    border-width:thin;
    border-collapse:collapse;
    padding:3px;
    text-align:center;
    vertical-align:top;
    margin-bottom:0px;
    margin-top:0px;
    margin-right:0px;
    margin-left:15px;
    direction:ltr;
    width:auto;
    height:auto;
    display:table;
    float:none
}
TR {
    vertical-align:top;
    height:auto
}
TH {
    text-align:left;
    vertical-align:bottom
}
TD {
    text-align:left;
    vertical-align:middle
}
IMG {
    text-align:left;
    vertical-align:top;
    margin-bottom:0px;
    margin-top:0px;
    margin-right:0px;
    margin-left:0px;
    direction:ltr
}

/* CSS 样式重置 */         /*****张勇*****/
body, div, p, a, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, textarea, select, button, th, td { margin: 0; padding: 0; font-family: '宋体'; font-size: 14px; color: #000000;font-weight: normal; }
a { /*text-decoration: none;*/ cursor: pointer; color: blue; }
img { border: 0; }
img, input, textarea, select, button { vertical-align: middle; }
table, th, td { font-size: 14px; font-family: inherit; line-height: inherit; }
td { word-break: break-all; }
textarea { word-wrap: break-word; word-break: break-all; }
ul, ol, li { list-style: none; }
dl, em, i, u, q, s, caption { font-style: normal; font-weight: normal; text-decoration: none; }

/* CSS常用样式设置 */
.fl { float: left; _display: inline; }
.fr { float: right; _display: inline; }
.clear { clear: both; }
.clearfix { display: block; *display: inline-block; _height: 1%; }
.clearfix:after { content: '\20'; display: block; clear: both; height: 0; visibility: hidden; }

.block { display: block; }
.inline { display: inline; }
.inblock { display: inline-block; }

.hide { display: none; }
.hidden { visibility: hidden; }
.ohide { overflow: hidden; }


input[type="text"] { outline-style: none; }
input[type="button"] { outline-style: none; }
input[type="submit"] { outline-style: none; }
select { outline-style: none; }
textarea { outline-style: none; }
input[type="password"] { outline-style: none; }

.wrap { margin: 0 auto; width: 1024px; }
.header, .banner, .container, .footer { width: 100%; min-width: 1200px; }

/*张勇文件内css********************************/
/*11.1.1.1*/
.tab_11111 { width: 850px; height: 150px; border: 1px solid #333; border-collapse: collapse; }
.tab_11111 td { font-size: 16px; }
.tan_til { font-size: 20px; padding: 10px 0 16px 0; }
.cap_11111_til { font-size: 24px; padding: 20px 0 10px 0; }

/*11.1.1_standard*/
.cap_1111 { font-size: 38px; padding: 40px 0 20px 0; }
.cap_11111 { padding-left: 16px; }
.cap_11111 a { font-size: 20px; }

/*11121*/
.cap_11121 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1323 dt,.page_1323 dd,.page_1323 a { font-size: 16px; }
.page_1323 dt { padding: 16px 0 16px 0; }
.page_1323 dd { text-indent: 2em; line-height: 24px; }
.page_1323 p { padding-top: 20px; font-size: 16px; }
.page_1323 .dl_in dt { padding: 0; }
.page_1323 .dl_in dd { text-indent: 3em; }
.page_1323 .dl_in_in dd { text-indent: 4em; }
.page_1323 .dl_in_3 dd { text-indent: 5em; }
.page_1323 .img img { width: 1024px; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11122*/
.cap_11122 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1333 dt,.page_1333 dd,.page_1333 a { font-size: 16px; }
.page_1333 dt { padding: 16px 0 16px 0; }
.page_1333 dd { text-indent: 2em; line-height: 24px; }
.page_1333 p { padding-top: 20px; font-size: 16px; }
.page_1333 .dl_in dt { padding: 0; }
.page_1333 .dl_in dd { text-indent: 3em; }
.page_1333 .dl_in_in dd { text-indent: 4em; }
.page_1333 .dl_in_3 dd { text-indent: 5em; }
.page_1333 .img img { width: 1024px; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11.1.2*/
.cap_1112 { font-size: 38px; padding: 40px 0 30px 0; }
.page_1204 h3 { padding: 0 0 12px 16px; }
.page_1204 h3 a { font-size: 22px; }

/*11131*/
.cap_11131 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1207 p { font-size: 20px; padding: 0 0 10px 0; text-indent: 2em; }
.page_1207 p a { font-size: 20px; }
.page_1207 div { font-size: 20px; margin-top: 20px; }
.page_1207 strong { font-weight: bold; }
.tab_11131 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_11131 tr { height: 50px; text-align: center; }
.tab_11131 tr td { font-size: 18px; }
.tab_11131 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 650px; }

/*11132*/
.cap_11132 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1222 dt,.page_1222 dd,.page_1222 a { font-size: 16px; }
.page_1222 dt { padding: 16px 0 16px 0; }
.page_1222 dd { text-indent: 2em; line-height: 24px; }
.page_1222 p { padding-top: 20px; }
.page_1222 .dl_in dt { padding: 0; }
.page_1222 .dl_in dd { text-indent: 3em; }

/*11133*/
.cap_11133 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1224 dt,.page_1224 dd,.page_1224 a { font-size: 16px; }
.page_1224 dt { padding: 16px 0 16px 0; }
.page_1224 dd { text-indent: 2em; line-height: 24px; }
.page_1224 p { padding-top: 20px; }
.page_1224 .dl_in dt { padding: 0; }
.page_1224 .dl_in dd { text-indent: 3em; }
.page_1224 .dl_in_in dd { text-indent: 4em; }

/*11134*/
.cap_11134 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1226 dt,.page_1226 dd,.page_1226 a { font-size: 16px; }
.page_1226 dt { padding: 16px 0 16px 0; }
.page_1226 dd { text-indent: 2em; line-height: 24px; }
.page_1226 p { padding-top: 20px; }
.page_1226 .dl_in dt { padding: 0; }
.page_1226 .dl_in dd { text-indent: 3em; }
.page_1226 .dl_in_in dd { text-indent: 4em; }

/*11135*/
.cap_11135 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1228 dt,.page_1228 dd,.page_1228 a { font-size: 16px; }
.page_1228 dt { padding: 16px 0 16px 0; }
.page_1228 dd { text-indent: 2em; line-height: 24px; }
.page_1228 p { padding-top: 20px; }
.page_1228 .dl_in dt { padding: 0; }
.page_1228 .dl_in dd { text-indent: 3em; }
.page_1228 .dl_in_in dd { text-indent: 4em; }

/*11136*/
.cap_11136 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1230 dt,.page_1230 dd,.page_1230 a { font-size: 16px; }
.page_1230 dt { padding: 16px 0 16px 0; }
.page_1230 dd { text-indent: 2em; line-height: 24px; }
.page_1230 p { padding-top: 20px; }
.page_1230 .dl_in dt { padding: 0; }
.page_1230 .dl_in dd { text-indent: 3em; }
.page_1230 .dl_in_in dd { text-indent: 4em; }

/*11137*/
.cap_11137 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1232 dt,.page_1232 dd,.page_1232 a { font-size: 16px; }
.page_1232 dt { padding: 16px 0 16px 0; }
.page_1232 dd { text-indent: 2em; line-height: 24px; }
.page_1232 p { padding-top: 20px; }
.page_1232 .dl_in dt { padding: 0; }
.page_1232 .dl_in dd { text-indent: 3em; }
.page_1232 .dl_in_in dd { text-indent: 4em; }

/*11138*/
.cap_11138 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1234 dt,.page_1234 dd,.page_1234 a { font-size: 16px; }
.page_1234 dt { padding: 16px 0 16px 0; }
.page_1234 dd { text-indent: 2em; line-height: 24px; }
.page_1234 p { padding-top: 20px; }
.page_1234 .dl_in dt { padding: 0; }
.page_1234 .dl_in dd { text-indent: 3em; }
.page_1234 .dl_in_in dd { text-indent: 4em; }
.page_1234 .dd_138 { text-indent: 3em; }

/*11139*/
.cap_11139 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1237 dt,.page_1237 dd,.page_1237 a { font-size: 16px; }
.page_1237 dt { padding: 16px 0 16px 0; }
.page_1237 dd { text-indent: 2em; line-height: 24px; }
.page_1237 p { padding-top: 20px; }
.page_1237 .dl_in dt { padding: 0; }
.page_1237 .dl_in dd { text-indent: 3em; }
.page_1237 .dl_in_in dd { text-indent: 4em; }

/*111310*/
.cap_111310 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1238 dt,.page_1238 dd,.page_1238 a { font-size: 16px; }
.page_1238 dt { padding: 16px 0 16px 0; }
.page_1238 dd { text-indent: 2em; line-height: 24px; }
.page_1238 p { padding-top: 20px; font-size: 16px; }
.page_1238 .dl_in dt { padding: 0; }
.page_1238 .dl_in dd { text-indent: 3em; }
.page_1238 .dl_in_in dd { text-indent: 4em; }
.page_1238 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111311*/
.cap_111311 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1243 dt,.page_1243 dd,.page_1243 a { font-size: 16px; }
.page_1243 dt { padding: 16px 0 16px 0; }
.page_1243 dd { text-indent: 2em; line-height: 24px; }
.page_1243 p { padding-top: 20px; }
.page_1243 .dl_in dt { padding: 0; }
.page_1243 .dl_in dd { text-indent: 3em; }
.page_1243 .dl_in_in dd { text-indent: 4em; }
.page_1243 .dd_138 { text-indent: 3em; }

/*111312*/
.cap_111312 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1245 dt,.page_1245 dd,.page_1245 a { font-size: 16px; }
.page_1245 dt { padding: 16px 0 16px 0; }
.page_1245 dd { text-indent: 2em; line-height: 24px; }
.page_1245 p { padding-top: 20px; }
.page_1245 .dl_in dt { padding: 0; }
.page_1245 .dl_in dd { text-indent: 3em; }
.page_1245 .dl_in_in dd { text-indent: 4em; }
.page_1245 .dd_138 { text-indent: 3em; }

/*111313*/
.cap_111313 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1246 dt,.page_1246 dd,.page_1246 a { font-size: 16px; }
.page_1246 dt { padding: 16px 0 16px 0; }
.page_1246 dd { text-indent: 2em; line-height: 24px; }
.page_1246 p { padding-top: 20px; font-size: 16px; }
.page_1246 .dl_in dt { padding: 0; }
.page_1246 .dl_in dd { text-indent: 3em; }
.page_1246 .dl_in_in dd { text-indent: 4em; }
.page_1246 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111314*/
.cap_111314 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1252 dt,.page_1252 dd,.page_1252 a { font-size: 16px; }
.page_1252 dt { padding: 16px 0 16px 0; }
.page_1252 dd { text-indent: 2em; line-height: 24px; }
.page_1252 p { padding-top: 20px; font-size: 16px; }
.page_1252 .dl_in dt { padding: 0; }
.page_1252 .dl_in dd { text-indent: 3em; }
.page_1252 .dl_in_in dd { text-indent: 4em; }
.page_1252 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111315*/
.cap_111315 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1259 dt,.page_1259 dd,.page_1259 a { font-size: 16px; }
.page_1259 dt { padding: 16px 0 16px 0; }
.page_1259 dd { text-indent: 2em; line-height: 24px; }
.page_1259 p { padding-top: 20px; font-size: 16px; }
.page_1259 .dl_in dt { padding: 0; }
.page_1259 .dl_in dd { text-indent: 3em; }
.page_1259 .dl_in_in dd { text-indent: 4em; }
.page_1259 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111316*/
.cap_111316 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1260 dt,.page_1260 dd,.page_1260 a { font-size: 16px; }
.page_1260 dt { padding: 16px 0 16px 0; }
.page_1260 dd { text-indent: 2em; line-height: 24px; }
.page_1260 p { padding-top: 20px; font-size: 16px; }
.page_1260 .dl_in dt { padding: 0; }
.page_1260 .dl_in dd { text-indent: 3em; }
.page_1260 .dl_in_in dd { text-indent: 4em; }
.page_1260 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111317*/
.cap_111317 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1265 dt,.page_1265 dd,.page_1265 a { font-size: 16px; }
.page_1265 dt { padding: 16px 0 16px 0; }
.page_1265 dd { text-indent: 2em; line-height: 24px; }
.page_1265 p { padding-top: 20px; font-size: 16px; }
.page_1265 .dl_in dt { padding: 0; }
.page_1265 .dl_in dd { text-indent: 3em; }
.page_1265 .dl_in_in dd { text-indent: 4em; }
.page_1265 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111318*/
.cap_111318 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1269 dt,.page_1269 dd,.page_1269 a { font-size: 16px; }
.page_1269 dt { padding: 16px 0 16px 0; }
.page_1269 dd { text-indent: 2em; line-height: 24px; }
.page_1269 p { padding-top: 20px; font-size: 16px; }
.page_1269 .dl_in dt { padding: 0; }
.page_1269 .dl_in dd { text-indent: 3em; }
.page_1269 .dl_in_in dd { text-indent: 4em; }
.page_1269 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111319*/
.cap_111319 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1271 dt,.page_1271 dd,.page_1271 a { font-size: 16px; }
.page_1271 dt { padding: 16px 0 16px 0; }
.page_1271 dd { text-indent: 2em; line-height: 24px; }
.page_1271 p { padding-top: 20px; font-size: 16px; }
.page_1271 .dl_in dt { padding: 0; }
.page_1271 .dl_in dd { text-indent: 3em; }
.page_1271 .dl_in_in dd { text-indent: 4em; }
.page_1271 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111320*/
.cap_111320 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1273 dt,.page_1273 dd,.page_1273 a { font-size: 16px; }
.page_1273 dt { padding: 16px 0 16px 0; }
.page_1273 dd { text-indent: 2em; line-height: 24px; }
.page_1273 p { padding-top: 20px; font-size: 16px; }
.page_1273 .dl_in dt { padding: 0; }
.page_1273 .dl_in dd { text-indent: 3em; }
.page_1273 .dl_in_in dd { text-indent: 4em; }
.page_1273 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111321*/
.cap_111321 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1278 dt,.page_1278 dd,.page_1278 a { font-size: 16px; }
.page_1278 dt { padding: 16px 0 16px 0; }
.page_1278 dd { text-indent: 2em; line-height: 24px; }
.page_1278 p { padding-top: 20px; font-size: 16px; }
.page_1278 .dl_in dt { padding: 0; }
.page_1278 .dl_in dd { text-indent: 3em; }
.page_1278 .dl_in_in dd { text-indent: 4em; }
.page_1278 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111322*/
.cap_111322 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1280 dt,.page_1280 dd,.page_1280 a { font-size: 16px; }
.page_1280 dt { padding: 16px 0 16px 0; }
.page_1280 dd { text-indent: 2em; line-height: 24px; }
.page_1280 p { padding-top: 20px; font-size: 16px; }
.page_1280 .dl_in dt { padding: 0; }
.page_1280 .dl_in dd { text-indent: 3em; }
.page_1280 .dl_in_in dd { text-indent: 4em; }
.page_1280 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111323*/
.cap_111323 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1283 dt,.page_1283 dd,.page_1283 a { font-size: 16px; }
.page_1283 dt { padding: 16px 0 16px 0; }
.page_1283 dd { text-indent: 2em; line-height: 24px; }
.page_1283 p { padding-top: 20px; font-size: 16px; }
.page_1283 .dl_in dt { padding: 0; }
.page_1283 .dl_in dd { text-indent: 3em; }
.page_1283 .dl_in_in dd { text-indent: 4em; }
.page_1283 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111324*/
.cap_111324 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1285 dt,.page_1285 dd,.page_1285 a { font-size: 16px; }
.page_1285 dt { padding: 16px 0 16px 0; }
.page_1285 dd { text-indent: 2em; line-height: 24px; }
.page_1285 p { padding-top: 20px; font-size: 16px; }
.page_1285 .dl_in dt { padding: 0; }
.page_1285 .dl_in dd { text-indent: 3em; }
.page_1285 .dl_in_in dd { text-indent: 4em; }
.page_1285 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111325*/
.cap_111325 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1287 dt,.page_1287 dd,.page_1287 a { font-size: 16px; }
.page_1287 dt { padding: 16px 0 16px 0; }
.page_1287 dd { text-indent: 2em; line-height: 24px; }
.page_1287 p { padding-top: 20px; font-size: 16px; }
.page_1287 .dl_in dt { padding: 0; }
.page_1287 .dl_in dd { text-indent: 3em; }
.page_1287 .dl_in_in dd { text-indent: 4em; }
.page_1287 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111326*/
.cap_111326 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1289 dt,.page_1289 dd,.page_1289 a { font-size: 16px; }
.page_1289 dt { padding: 16px 0 16px 0; }
.page_1289 dd { text-indent: 2em; line-height: 24px; }
.page_1289 p { padding-top: 20px; font-size: 16px; }
.page_1289 .dl_in dt { padding: 0; }
.page_1289 .dl_in dd { text-indent: 3em; }
.page_1289 .dl_in_in dd { text-indent: 4em; }
.page_1289 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111327*/
.cap_111327 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1292 dt,.page_1292 dd,.page_1292 a { font-size: 16px; }
.page_1292 dt { padding: 16px 0 16px 0; }
.page_1292 dd { text-indent: 2em; line-height: 24px; }
.page_1292 p { padding-top: 20px; font-size: 16px; }
.page_1292 .dl_in dt { padding: 0; }
.page_1292 .dl_in dd { text-indent: 3em; }
.page_1292 .dl_in_in dd { text-indent: 4em; }
.page_1292 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111328*/
.cap_111327 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1292 dt,.page_1292 dd,.page_1292 a { font-size: 16px; }
.page_1292 dt { padding: 16px 0 16px 0; }
.page_1292 dd { text-indent: 2em; line-height: 24px; }
.page_1292 p { padding-top: 20px; font-size: 16px; }
.page_1292 .dl_in dt { padding: 0; }
.page_1292 .dl_in dd { text-indent: 3em; }
.page_1292 .dl_in_in dd { text-indent: 4em; }
.page_1292 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111329*/
.cap_111329 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1296 dt,.page_1296 dd,.page_1296 a { font-size: 16px; }
.page_1296 dt { padding: 16px 0 16px 0; }
.page_1296 dd { text-indent: 2em; line-height: 24px; }
.page_1296 p { padding-top: 20px; font-size: 16px; }
.page_1296 .dl_in dt { padding: 0; }
.page_1296 .dl_in dd { text-indent: 3em; }
.page_1296 .dl_in_in dd { text-indent: 4em; }
.page_1296 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111330*/
.cap_111330 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1297 dt,.page_1297 dd,.page_1297 a { font-size: 16px; }
.page_1297 dt { padding: 16px 0 16px 0; }
.page_1297 dd { text-indent: 2em; line-height: 24px; }
.page_1297 p { padding-top: 20px; font-size: 16px; }
.page_1297 .dl_in dt { padding: 0; }
.page_1297 .dl_in dd { text-indent: 3em; }
.page_1297 .dl_in_in dd { text-indent: 4em; }
.page_1297 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111331*/
.cap_111331 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1299 dt,.page_1299 dd,.page_1299 a { font-size: 16px; }
.page_1299 dt { padding: 16px 0 16px 0; }
.page_1299 dd { text-indent: 2em; line-height: 24px; }
.page_1299 p { padding-top: 20px; font-size: 16px; }
.page_1299 .dl_in dt { padding: 0; }
.page_1299 .dl_in dd { text-indent: 3em; }
.page_1299 .dl_in_in dd { text-indent: 4em; }
.page_1299 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111332*/
.cap_111332 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1306 dt,.page_1306 dd,.page_1306 a { font-size: 16px; }
.page_1306 dt { padding: 16px 0 16px 0; }
.page_1306 dd { text-indent: 2em; line-height: 24px; }
.page_1306 p { padding-top: 20px; font-size: 16px; }
.page_1306 .dl_in dt { padding: 0; }
.page_1306 .dl_in dd { text-indent: 3em; }
.page_1306 .dl_in_in dd { text-indent: 4em; }
.page_1306 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*111333*/
.cap_111333 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1311 dt,.page_1311 dd,.page_1311 a { font-size: 16px; }
.page_1311 dt { padding: 16px 0 16px 0; }
.page_1311 dd { text-indent: 2em; line-height: 24px; }
.page_1311 p { padding-top: 20px; font-size: 16px; }
.page_1311 .dl_in dt { padding: 0; }
.page_1311 .dl_in dd { text-indent: 3em; }
.page_1311 .dl_in_in dd { text-indent: 4em; }
.page_1311 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; line-height: 30px; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*1113*/
.cap_1113 { font-size: 38px; padding: 40px 0 30px 0; }
.page_1205 h3 { padding: 0 0 12px 16px; }
.page_1205 h3 a { font-size: 22px; }

/*11151*/
.cap_11151 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1317 dt,.page_1317 dd,.page_1317 a { font-size: 16px; }
.page_1317 dt { padding: 16px 0 16px 0; }
.page_1317 dd { text-indent: 2em; line-height: 24px; }
.page_1317 p { padding-top: 20px; font-size: 16px; }
.page_1317 .dl_in dt { padding: 0; }
.page_1317 .dl_in dd { text-indent: 3em; }
.page_1317 .dl_in_in dd { text-indent: 4em; }
.page_1317 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11152*/
.cap_11152 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1318 dt,.page_1318 dd,.page_1318 a { font-size: 16px; }
.page_1318 dt { padding: 16px 0 16px 0; }
.page_1318 dd { text-indent: 2em; line-height: 24px; }
.page_1318 p { padding-top: 20px; font-size: 16px; }
.page_1318 .dl_in dt { padding: 0; }
.page_1318 .dl_in dd { text-indent: 3em; }
.page_1318 .dl_in_in dd { text-indent: 4em; }
.page_1318 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11161*/
.cap_11161 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1322 dt,.page_1322 dd,.page_1322 a { font-size: 16px; }
.page_1322 dt { padding: 16px 0 16px 0; }
.page_1322 dd { text-indent: 2em; line-height: 24px; }
.page_1322 p { padding-top: 20px; font-size: 16px; }
.page_1322 .dl_in dt { padding: 0; }
.page_1322 .dl_in dd { text-indent: 3em; }
.page_1322 .dl_in_in dd { text-indent: 4em; }
.page_1322 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 500px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11211*/
.cap_11211 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1347 dt,.page_1347 dd,.page_1347 a { font-size: 16px; }
.page_1347 dt { padding: 16px 0 16px 0; }
.page_1347 dd { text-indent: 2em; line-height: 24px; }
.page_1347 p { padding-top: 20px; font-size: 16px; }
.page_1347 .dl_in dt { padding: 0; }
.page_1347 .dl_in dd { text-indent: 3em; }
.page_1347 .dl_in_in dd { text-indent: 4em; }
.page_1347 .dl_in_3 dd { text-indent: 5em; }
.page_1347 .img img { width: 1024px; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11221*/
.cap_11221 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1340 dt,.page_1340 dd,.page_1340 a { font-size: 16px; }
.page_1340 dt { padding: 16px 0 16px 0; }
.page_1340 dd { text-indent: 2em; line-height: 24px; }
.page_1340 p { padding-top: 20px; font-size: 16px; }
.page_1340 .dl_in dt { padding: 0; }
.page_1340 .dl_in dd { text-indent: 3em; }
.page_1340 .dl_in_in dd { text-indent: 4em; }
.page_1340 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11222*/
.cap_11222 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1341 dt,.page_1341 dd,.page_1341 a { font-size: 16px; }
.page_1341 dt { padding: 16px 0 16px 0; }
.page_1341 dd { text-indent: 2em; line-height: 24px; }
.page_1341 p { padding-top: 20px; font-size: 16px; }
.page_1341 .dl_in dt { padding: 0; }
.page_1341 .dl_in dd { text-indent: 3em; }
.page_1341 .dl_in_in dd { text-indent: 4em; }
.page_1341 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11241*/
.cap_11241 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1344 dt,.page_1344 dd,.page_1344 a { font-size: 16px; }
.page_1344 dt { padding: 16px 0 16px 0; }
.page_1344 dd { text-indent: 2em; line-height: 24px; }
.page_1344 p { padding-top: 20px; font-size: 16px; }
.page_1344 .dl_in dt { padding: 0; }
.page_1344 .dl_in dd { text-indent: 3em; }
.page_1344 .dl_in_in dd { text-indent: 4em; }
.page_1344 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11251*/
.cap_11251 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1346 dt,.page_1346 dd,.page_1346 a { font-size: 16px; }
.page_1346 dt { padding: 16px 0 16px 0; }
.page_1346 dd { text-indent: 2em; line-height: 24px; }
.page_1346 p { padding-top: 20px; font-size: 16px; }
.page_1346 .dl_in dt { padding: 0; }
.page_1346 .dl_in dd { text-indent: 3em; }
.page_1346 .dl_in_in dd { text-indent: 4em; }
.page_1346 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 500px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11311*/
.cap_11311 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1350 dt,.page_1350 dd,.page_1350 a { font-size: 16px; }
.page_1350 dt { padding: 16px 0 16px 0; }
.page_1350 dd { text-indent: 2em; line-height: 24px; }
.page_1350 p { padding-top: 20px; font-size: 16px; }
.page_1350 .dl_in dt { padding: 0; }
.page_1350 .dl_in dd { text-indent: 3em; }
.page_1350 .dl_in_in dd { text-indent: 4em; }
.page_1350 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11341*/
.cap_11341 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1357 dt,.page_1357 dd,.page_1357 a { font-size: 16px; }
.page_1357 dt { padding: 16px 0 16px 0; }
.page_1357 dd { text-indent: 2em; line-height: 24px; }
.page_1357 p { padding-top: 20px; font-size: 16px; }
.page_1357 .dl_in dt { padding: 0; }
.page_1357 .dl_in dd { text-indent: 3em; }
.page_1357 .dl_in_in dd { text-indent: 4em; }
.page_1357 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11342*/
.cap_11342 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1362 dt,.page_1362 dd,.page_1362 a { font-size: 16px; }
.page_1362 dt { padding: 16px 0 16px 0; }
.page_1362 dd { text-indent: 2em; line-height: 24px; }
.page_1362 p { padding-top: 20px; font-size: 16px; }
.page_1362 .dl_in dt { padding: 0; }
.page_1362 .dl_in dd { text-indent: 3em; }
.page_1362 .dl_in_in dd { text-indent: 4em; }
.page_1362 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11343*/
.cap_11343 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1365 dt,.page_1365 dd,.page_1365 a { font-size: 16px; }
.page_1365 dt { padding: 16px 0 16px 0; }
.page_1365 dd { text-indent: 2em; line-height: 24px; }
.page_1365 p { padding-top: 20px; font-size: 16px; }
.page_1365 .dl_in dt { padding: 0; }
.page_1365 .dl_in dd { text-indent: 3em; }
.page_1365 .dl_in_in dd { text-indent: 4em; }
.page_1365 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11344*/
.cap_11344 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1368 dt,.page_1368 dd,.page_1368 a { font-size: 16px; }
.page_1368 dt { padding: 16px 0 16px 0; }
.page_1368 dd { text-indent: 2em; line-height: 24px; }
.page_1368 p { padding-top: 20px; font-size: 16px; }
.page_1368 .dl_in dt { padding: 0; }
.page_1368 .dl_in dd { text-indent: 3em; }
.page_1368 .dl_in_in dd { text-indent: 4em; }
.page_1368 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11345*/
.cap_11345 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1374 dt,.page_1374 dd,.page_1374 a { font-size: 16px; }
.page_1374 dt { padding: 16px 0 16px 0; }
.page_1374 dd { text-indent: 2em; line-height: 24px; }
.page_1374 p { padding-top: 20px; font-size: 16px; }
.page_1374 .dl_in dt { padding: 0; }
.page_1374 .dl_in dd { text-indent: 3em; }
.page_1374 .dl_in_in dd { text-indent: 4em; }
.page_1374 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11346*/
.cap_11346 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1376 dt,.page_1376 dd,.page_1376 a { font-size: 16px; }
.page_1376 dt { padding: 16px 0 16px 0; }
.page_1376 dd { text-indent: 2em; line-height: 24px; }
.page_1376 p { padding-top: 20px; font-size: 16px; }
.page_1376 .dl_in dt { padding: 0; }
.page_1376 .dl_in dd { text-indent: 3em; }
.page_1376 .dl_in_in dd { text-indent: 4em; }
.page_1376 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11347*/
.cap_11347 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1379 dt,.page_1379 dd,.page_1379 a { font-size: 16px; }
.page_1379 dt { padding: 16px 0 16px 0; }
.page_1379 dd { text-indent: 2em; line-height: 24px; }
.page_1379 p { padding-top: 20px; font-size: 16px; }
.page_1379 .dl_in dt { padding: 0; }
.page_1379 .dl_in dd { text-indent: 3em; }
.page_1379 .dl_in_in dd { text-indent: 4em; }
.page_1379 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11348*/
.cap_11348 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1384 dt,.page_1384 dd,.page_1384 a { font-size: 16px; }
.page_1384 dt { padding: 16px 0 16px 0; }
.page_1384 dd { text-indent: 2em; line-height: 24px; }
.page_1384 p { padding-top: 20px; font-size: 16px; }
.page_1384 .dl_in dt { padding: 0; }
.page_1384 .dl_in dd { text-indent: 3em; }
.page_1384 .dl_in_in dd { text-indent: 4em; }
.page_1384 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11349*/
.cap_11349 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1387 dt,.page_1387 dd,.page_1387 a { font-size: 16px; }
.page_1387 dt { padding: 16px 0 16px 0; }
.page_1387 dd { text-indent: 2em; line-height: 24px; }
.page_1387 p { padding-top: 20px; font-size: 16px; }
.page_1387 .dl_in dt { padding: 0; }
.page_1387 .dl_in dd { text-indent: 3em; }
.page_1387 .dl_in_in dd { text-indent: 4em; }
.page_1387 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*113410*/
.cap_113410 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1390 dt,.page_1390 dd,.page_1390 a { font-size: 16px; }
.page_1390 dt { padding: 16px 0 16px 0; }
.page_1390 dd { text-indent: 2em; line-height: 24px; }
.page_1390 p { padding-top: 20px; font-size: 16px; }
.page_1390 .dl_in dt { padding: 0; }
.page_1390 .dl_in dd { text-indent: 3em; }
.page_1390 .dl_in_in dd { text-indent: 4em; }
.page_1390 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*113411*/
.cap_113411 { font-size: 28px; padding: 20px 0 20px 0; }
.page_1397 dt,.page_1397 dd,.page_1397 a { font-size: 16px; }
.page_1397 dt { padding: 16px 0 16px 0; }
.page_1397 dd { text-indent: 2em; line-height: 24px; }
.page_1397 p { padding-top: 20px; font-size: 16px; }
.page_1397 .dl_in dt { padding: 0; }
.page_1397 .dl_in dd { text-indent: 3em; }
.page_1397 .dl_in_in dd { text-indent: 4em; }
.page_1397 .dl_in_3 dd { text-indent: 5em; }
.tab_310 { border: 1px solid #333; border-collapse: collapse; width: 850px; margin-top: 20px; }
.tab_310 tr { height: 50px; text-align: center; }
.tab_310 tr td { font-size: 18px; border: 1px solid #333; padding: 6px 0; }
.tab_310 .td_r { text-align: left; padding: 6px 10px 6px 16px; width: 270px; }

/*11.1_data_communication*/
.cap_111 { font-size: 38px; padding: 40px 0 40px 0; }
.page_1201 h3 { padding: 0 0 10px 16px; }
.page_1201 h3 a { font-size: 20px; }

/*952_image*/
.cap_952 { font-size: 38px; padding: 40px 0 20px 0; }
.cap_9521 a { font-size: 20px; }


/*****周博宇*****/
html{
    width: 818px;
    margin: 0 auto;
    padding: 10px;
}
h4{
    margin: 20px 0;
}
h5{
    margin: 15px 0;
}
p{
    text-indent: 2em;
}
ul,li{
    margin-left: 1em;
}
div{
    text-indent: 4em;
}
span{
    font-weight:bold;
    display: inline-block;
    margin-right: 5px;
    font-size: 14pt;
}
p,div,ul,li,td{
    line-height: 2em;
}
tr,td{
    text-align: center;
}
tr td:nth-child(1){
    width: 241px;
}
table tr:nth-child(1){
    height: 60px;
}
td{
    padding: 5px;
    max-width: 241px;
}
.textLeft{
    text-align:left;
}
img{
    max-width: 600px;
    max-height: 600px;
}
.xintable tr td:nth-child(1){
    width: 80px;
}

/*****周玉杰*****/
p,h3{text-indent: 2em;line-height: 24px;}
h2{line-height: 36px;margin-top: 5px;}
h4{text-indent: 3em;line-height: 24px;}
h5{text-indent: 5em;line-height: 24px;}
h6{text-indent: 7em;line-height: 24px;}
th{font-weight: normal;}
td{padding: 10px;}
table{width: 98%;border: 1px solid #000000;border-collapse: collapse;text-align: center;line-height: 24px;}


/*****杜珊*****/

DIV[class="Part"] {
    text-align:left;
    margin-bottom:0px;
    margin-top:0px;
    margin-right:0px;
    text-indent:0px;
    direction:ltr
}
H5 {
    text-align:left;
    margin-bottom:10px;
    margin-top:0px;
    margin-right:0px;
    text-indent:0px;
    direction:ltr
}
SPAN {
    font-family:'Adobe Song Std','Adobe Song Std',serif;
    font-size:9pt;
    font-style:normal;
    font-weight:normal
}
P {
    text-align:left;
    margin-bottom:15px;
    margin-top:0px;
    margin-right:0px;
    margin-left:15px;
    text-indent:0px;
    direction:ltr;
    line-height:23px
}
OL {
    list-style-type:decimal;
    text-align:left;
    margin-bottom:0px;
    margin-top:0px;
    margin-right:0px;
    text-indent:0px;
    direction:ltr
}
LI {
    list-style-type:decimal;
    text-align:left;
    margin-bottom:0px;
    margin-top:0px;
    margin-right:0px;
    margin-left:65px;
    text-indent:0px;
    direction:ltr;
    line-height:23px
}
DT {
    text-align:left;
    margin-bottom:0px;
    margin-top:0px;
    margin-right:0px;
    margin-left:65px;
    text-indent:0px;
    direction:ltr
}
DD {
    text-align:left;
    margin-bottom:0px;
    margin-top:0px;
    margin-right:0px;
    margin-left:65px;
    text-indent:0px;
    direction:ltr
}
A {
    font-style:normal;
    font-weight:normal
}
TABLE {
    border-width:thin;
    border-collapse:collapse;
    padding:3px;
    text-align:center;
    vertical-align:top;
    margin-bottom:0px;
    margin-top:0px;
    margin-right:0px;
    margin-left:0px;
    direction:ltr;
    width:auto;
    height:auto;
    display:table;
    float:none
}
TR {
    vertical-align:top;
    height:auto
}
TD {
    text-align:left;
    vertical-align:bottom
}
DIV[class="Sect"] {
    text-align:left;
    margin-bottom:0px;
    margin-top:0px;
    margin-right:0px;
    text-indent:0px;
    direction:ltr
}
H4 {
    text-align:left;
    margin-bottom:10px;
    margin-top:0px;
    margin-right:0px;
    margin-left:15px;
    text-indent:0px;
    direction:ltr
}
TH {
    text-align:left;
    vertical-align:bottom
}
DIV {
    text-align:left;
    margin-bottom:0px;
    margin-top:0px;
    margin-right:0px;
    text-indent:0px;
    direction:ltr
}
IMG {
    text-align:center;
    vertical-align:top;
    margin-bottom:10px;
    margin-top:0px;
    margin-right:0px;
    margin-left:0px;
    direction:ltr
}
.little {
    width: 500px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
}

/*杨勇*/
.p1{
    padding-left: 30px;
}
.p2{
    padding-left: 15px;
}
.p3{
    text-indent: 30px;
    line-height: 24px;
}
.p4{
    padding-left: 42px;
}
.p5{
    padding-left: 50px;
}
.p6{
    padding-left: 75px;
}
.p-bottom{
    margin-bottom: 6px;
}