/*.cylpressguage-plug{
	position: absolute;
	top: 300px;
	right:475px;
	width:57px;
	height:275px;

	background: url(../images/plug.png) no-repeat 0 0;

}*/


.cylpressguage-oilwatch{
	z-index: 38;
	position: absolute;
	top: 329px;
	left: 346px;
	width: 399px;
	height: 199px;
	background: url(../images/cylpressguage_bg.png) no-repeat 0 0;

}
.cylpressguage-oilwatch-pointer{
	position: absolute;
	top: 21px;
	left: 18px;
	width: 182px;
	height: 182px;
	background: url(../images/cylpressguage_point.png) no-repeat 0 0;

}


.coe{ width:44px;
	height:44px;
	text-align:right;
	position:absolute;
	top: 0px;
	left: 179px;
	font-size:18px;
	color:#fff;
	cursor:pointer;
	z-index: 1112;
	background: url(../images/close.png) no-repeat center center;
}
.dhxq1_cyl{
	position: absolute;
	z-index: 10;
	left: 247px;
	bottom: 20px;
	width: 243px;
	height:95px;
	background: url(../images/dhxq1_cyl.png) no-repeat 0 0;
}
.cylpressguage-oilwatch-pointer3{
	position: absolute;
	top: 21px;
	left: 18px;
	width: 182px;
	height: 182px;
	background: url(../images/dhxq3max_zhizhen.png) no-repeat 0 0;
}
.cylpressguage-oilwatch-pointer4{
	position: absolute;
	top: 21px;
	left: 18px;
	width: 182px;
	height: 182px;
	background: url(../images/dhxq4max_zhizhen0.png) no-repeat 0 0;
}
.cylpressguage-tishi{
	position: absolute;
	top: 74px;
	left: 194px;
	width: 205px;
	height: 46px;
	background: url(../images/cylpressguage_tishi.png) no-repeat 0 0;
	z-index: 31;
	display: none;
}
.cylpressguage-hot{
	position: absolute;
	top: 59px;
	left: 194px;
	width: 75px;
	height: 71px;
}