<div class="fd-bg fd-b20">
    <div class="fd-zz" ng-click="backPage('engine')"></div>
    <div class="b20-head-install" ng-show="pageServicePint.In1Veh_B20_Conn_x_Install=='1'"></div>
    <div class="bfl001" ng-show="pageServicePint.In1Veh_B20_Conn_x_Install=='1'" ng-click="ctOpen('In1Veh_B20_Conn_x_Install','2','b20')"></div>
    <div class="b20-head-out" ng-show="pageServicePint.In1Veh_B20_Conn_x_Install=='0'"></div>
    <div class="bfl002" ng-show="pageServicePint.In1Veh_B20_Conn_x_Install=='0'&&pageServicePdata.b20_tearDown" ng-click="ctClose('In1Veh_B20_Conn_x_Install','1','b20')"></div>
    <!--更换线束-->
    <div id="bj-b20-line"  class="b20-line-hot line" ng-show="pageServicePint.In1Veh_B20_Conn_x_Install== '0'" ></div>
    <div class="b20-line" status="bj-b20-line"></div>
    <!--更换零件-->
    <div class="b20-light" status="bj-b20" ng-show="!pageServicePdata.b20_tearDown"></div>
    <div id="msg-b20" class="bfl000 bj-b20" sata="hexagonal-10mm" ng-click="showMsg('msg-b20','请选择10MM六角套筒')" ng-show="pageServicePint.In1Veh_B20_Conn_x_Install== '0'&&pageServicePdata.b20_tearDown" title="制动液位控制开关"></div>
    <div  class="bfl000 b20_install" ng-show="!pageServicePdata.b20_tearDown"></div>

    <!--万用表交互热区-->
    <div ng-show="pageServicePint.In1Veh_B20_Conn_x_Install== '0'">
        <!--插头-->
        <a class="bfl007" title="1" wybredPosition="1" wybblackPosition="1" h_y="697" h_x="279" rqPosition="3299" h_href="b20" ></a>
        <a class="bfl008" title="2" wybredPosition="1" wybblackPosition="1" h_y="666" h_x="282" rqPosition="3301" h_href="b20" ></a>

        <!--插座-->
        <a class="bfl005" title="1" wybredPosition="1" wybblackPosition="1" h_y="505" h_x="250" rqPosition="4264" h_href="b20" ></a>
        <a class="bfl006" title="2" wybredPosition="1" wybblackPosition="1" h_y="475" h_x="251" rqPosition="4265" h_href="b20" ></a>


    </div>
    <div ng-show="pageServicePint.In1Veh_B20_Conn_x_Install== '1'">
        <!--插头背部-->
        <a class="bfl003" title="1" wybredPosition="2" wybblackPosition="2" h_y="515" h_x="274" rqPosition="3300" h_href="b20" ></a>
        <a class="bfl004" title="2" wybredPosition="2" wybblackPosition="2" h_y="485" h_x="275" rqPosition="3302" h_href="b20" ></a>

    </div>

</div>