<div class="fd-bg fd-b23f">
    <div class="fd-zz" ng-click="backPage('engine',580,180)"></div>
    <div class="b23f-head-install" ng-show="pageServicePint.In1Sen_B23F_Conn_x_Install=='1'"></div>
    <div class="cp000" ng-show="pageServicePint.In1Sen_B23F_Conn_x_Install=='1'" ng-click="ctOpen('In1Sen_B23F_Conn_x_Install','2','b23f')"></div>
    <div class="b23f-head-out" ng-show="pageServicePint.In1Sen_B23F_Conn_x_Install=='0'"></div>
    <div class="cp001" ng-show="pageServicePint.In1Sen_B23F_Conn_x_Install=='0'&&pageServicePdata.b23f_tearDown" ng-click="ctClose('In1Sen_B23F_Conn_x_Install','1','b23f')"></div>
    <!--更换零件-->
    <div class="b23f-light" status="bj-b23f" ng-show="!pageServicePdata.b23f_tearDown"></div>
    <div id="msg-b23f" class="cp002" sata="hexagonal-10mm" ng-click="showMsg('msg-b23f','请选择六角10MM套筒')" ng-show="pageServicePint.In1Sen_B23F_Conn_x_Install== '0'&&pageServicePdata.b23f_tearDown" title="进气凸轮轴位置传感器"></div>
    <div  class="cp002 b23f_install" ng-show="!pageServicePdata.b23f_tearDown"></div>
    <!--更换线束-->
    <div id="bj-b23f-line bj-b23f" class="b23f-line-hot line" ng-show="pageServicePint.In1Sen_B23F_Conn_x_Install== '0'" ></div>
    <div class="b23f-line" status="bj-b23f-line"></div>
<!--万用表交互热区-->
    <div ng-show="pageServicePint.In1Sen_B23F_Conn_x_Install== '0'">
        <!--插头-->
        <a class="cp003" title="1" wybredPosition="1" wybblackPosition="1" h_y="764" h_x="372" rqPosition="2069" h_href="b23f" ></a>
        <a class="cp004" title="2" wybredPosition="1" wybblackPosition="1" h_y="712" h_x="367" rqPosition="2071" h_href="b23f" ></a>
        <a class="cp005" title="3" wybredPosition="1" wybblackPosition="1" h_y="660" h_x="359" rqPosition="2073" h_href="b23f" ></a>
        <!--插座-->
        <div ng-show="pageServicePdata.b23f_tearDown">
            <a class="cp006" title="1" wybredPosition="1" wybblackPosition="1" h_y="428" h_x="284" rqPosition="4054" h_href="b23f" ></a>
            <a class="cp007" title="2" wybredPosition="1" wybblackPosition="1" h_y="436" h_x="240" rqPosition="4055" h_href="b23f" ></a>
            <a class="cp008" title="3" wybredPosition="1" wybblackPosition="1" h_y="442" h_x="203" rqPosition="4056" h_href="b23f" ></a>
        </div>
    </div>


    <div ng-show="pageServicePint.In1Sen_B23F_Conn_x_Install== '1'">
        <!--插头背部-->
        <a class="cp009" title="1" wybredPosition="2" wybblackPosition="2" h_y="453" h_x="363" rqPosition="2070" h_href="b23f" ></a>
        <a class="cp0010" title="2" wybredPosition="2" wybblackPosition="2" h_y="474" h_x="331" rqPosition="2072" h_href="b23f" ></a>
        <a class="cp0011" title="3" wybredPosition="2" wybblackPosition="2" h_y="500" h_x="297" rqPosition="2074" h_href="b23f" ></a>

    </div>

</div>