<div class="fd-bg fd-b34a">
    <div class="fd-zz" ng-click="backPage('engine')"></div>
    <div class="b34a-head-install" ng-show="pageServicePint.In1Sen_B34A_Conn_x_Install=='1'"></div>
    <div class="ct001" ng-show="pageServicePint.In1Sen_B34A_Conn_x_Install=='1'" ng-click="ctOpen('In1Sen_B34A_Conn_x_Install','2','b34a')"></div>
    <div class="b34a-head-out" ng-show="pageServicePint.In1Sen_B34A_Conn_x_Install=='0'"></div>
    <div class="ct002" ng-show="pageServicePint.In1Sen_B34A_Conn_x_Install=='0'" ng-click="ctClose('In1Sen_B34A_Conn_x_Install','1','b34a')"></div>
    <!--更换线束-->
    <div id="bj-b34a-line" class="b34a-line-hot line" ng-show="pageServicePint.In1Sen_B34A_Conn_x_Install=='0'" ></div>
    <div class="b34a-line" status="bj-b34a-line"></div>
    <!--更换零件-->
    <div class="b34a-light" status="bj-b34a" ng-show="!pageServicePdata.b34a_tearDown"></div>
    <div id="msg-b34a" class="ct000 bj-b34a" ng-click="tearDownBody('b34a')" ng-show="pageServicePint.In1Sen_B34A_Conn_x_Install=='0'&&pageServicePdata.b34a_tearDown" title="冷却液温度传感器1"></div>
    <div  class="ct000 b34a_install" ng-show="!pageServicePdata.b34a_tearDown"></div>
    <!--万用表交互热区-->
    <div ng-show="pageServicePint.In1Sen_B34A_Conn_x_Install== '0'">
        <!--插头-->
        <a class="ct007" title="1" wybredPosition="1" wybblackPosition="1" h_y="756" h_x="470" rqPosition="121" h_href="b34a" ></a>
        <a class="ct008" title="2" wybredPosition="1" wybblackPosition="1" h_y="721" h_x="488" rqPosition="123" h_href="b34a" ></a>

        <!--插座-->
        <a class="ct005" title="1" wybredPosition="1" wybblackPosition="1" h_y="456" h_x="289" rqPosition="4091" h_href="b34a" ></a>
        <a class="ct006" title="2" wybredPosition="1" wybblackPosition="1" h_y="482" h_x="257" rqPosition="4092" h_href="b34a" ></a>


    </div>
    <div ng-show="pageServicePint.In1Sen_B34A_Conn_x_Install== '1'">
        <!--插头背部-->
        <a class="ct003" title="1" wybredPosition="2" wybblackPosition="2" h_y="517" h_x="346" rqPosition="122" h_href="b34a" ></a>
        <a class="ct004" title="2" wybredPosition="2" wybblackPosition="2" h_y="534" h_x="322" rqPosition="124" h_href="b34a" ></a>


    </div>

</div>