<div class="fd-bg fd-b34b">
    <div class="fd-zz" ng-click="backPage('engine')"></div>
    <div class="b34b-head-install" ng-show="pageServicePint.In1Sen_B34B_Conn_x_Install=='1'"></div>
    <div class="ct101" ng-show="pageServicePint.In1Sen_B34B_Conn_x_Install=='1'" ng-click="ctOpen('In1Sen_B34B_Conn_x_Install','2','b34b')"></div>
    <div class="b34b-head-out" ng-show="pageServicePint.In1Sen_B34B_Conn_x_Install=='0'"></div>
    <div class="ct102" ng-show="pageServicePint.In1Sen_B34B_Conn_x_Install=='0'" ng-click="ctClose('In1Sen_B34B_Conn_x_Install','1','b34b')"></div>
    <!--更换线束-->
    <div id="bj-b34b-line"  class="b34b-line-hot line line" ng-show="pageServicePint.In1Sen_B34B_Conn_x_Install== '0'" ></div>
    <div class="b34b-line" status="bj-b34b-line"></div>
    <!--更换零件-->
    <div class="b34b-light" status="bj-b34b" ng-show="!pageServicePdata.b34b_tearDown"></div>
    <div id="msg-b34b" class="ct100 bj-b34b" ng-click="tearDownBody('b34b')" ng-show="pageServicePint.In1Sen_B34B_Conn_x_Install=='0'&&pageServicePdata.b34b_tearDown" title="冷却液温度传感器2"></div>
    <div  class="ct100 b34b_install" ng-show="!pageServicePdata.b34b_tearDown"></div>
    <!--万用表交互热区-->
    <div ng-show="pageServicePint.In1Sen_B34B_Conn_x_Install== '0'">
        <!--插头-->
        <a class="ct103" title="1" wybredPosition="1" wybblackPosition="1" h_y="351" h_x="450" rqPosition="129" h_href="b34b" ></a>
        <a class="ct104" title="2" wybredPosition="1" wybblackPosition="1" h_y="318" h_x="484" rqPosition="131" h_href="b34b" ></a>

        <!--插座-->
        <a class="ct105" title="1" wybredPosition="1" wybblackPosition="1" h_y="509" h_x="271" rqPosition="4093" h_href="b34b" ></a>
        <a class="ct106" title="2" wybredPosition="1" wybblackPosition="1" h_y="483" h_x="301" rqPosition="4094" h_href="b34b" ></a>


    </div>
    <div ng-show="pageServicePint.In1Sen_B34B_Conn_x_Install== '1'">
        <!--插头背部-->
        <a class="ct107" title="1" wybredPosition="2" wybblackPosition="2" h_y="409" h_x="237" rqPosition="130" h_href="b34b" ></a>
        <a class="ct108" title="2" wybredPosition="2" wybblackPosition="2" h_y="382" h_x="272" rqPosition="132" h_href="b34b" ></a>


    </div>
    </div>