<div class="fd-bg fd-b47b">
    <div class="fd-zz" ng-click="backPage('engine',460,233)"></div>
    <div class="b47b-head-install" ng-show="pageServicePint.In1Sen_B47B_Conn_x_Install=='1'"></div>
    <div class="fp000" ng-show="pageServicePint.In1Sen_B47B_Conn_x_Install=='1'" ng-click="ctOpen('In1Sen_B47B_Conn_x_Install','2','b47b')"></div>
    <div class="b47b-head-out" ng-show="pageServicePint.In1Sen_B47B_Conn_x_Install=='0'"></div>
    <div class="fp001" ng-show="pageServicePint.In1Sen_B47B_Conn_x_Install=='0'&&pageServicePdata.b47b_tearDown" ng-click="ctClose('In1Sen_B47B_Conn_x_Install','1','b47b')"></div>
    <!--更换零件-->
    <div class="b47b-light" status="bj-b47b" ng-show="!pageServicePdata.b47b_tearDown"></div>
    <div id="msg-b47b" class="fp002 bj-b47b" sata="hexagonal-10mm" ng-click="showMsg('msg-b47b','请选择六角10MM套筒')" ng-show="pageServicePint.In1Sen_B47B_Conn_x_Install== '0'&&pageServicePdata.b47b_tearDown" title="燃油导轨压力传感器"></div>
    <div  class="fp002 b47b_install" ng-show="!pageServicePdata.b47b_tearDown"></div>
    <!--更换线束-->
    <div id="bj-b47b-line" class="b47b-line-hot line" ng-show="pageServicePint.In1Sen_B47B_Conn_x_Install== '0'" ></div>
    <div class="b47b-line" status="bj-b47b-line"></div>
    <!--万用表交互热区-->
    <div ng-show="pageServicePint.In1Sen_B47B_Conn_x_Install== '0'">
        <!--插头-->
        <a class="fp003" title="1" wybredPosition="1" wybblackPosition="1" h_y="605" h_x="259" rqPosition="2161" h_href="b47b" ></a>
        <a class="fp004" title="2" wybredPosition="1" wybblackPosition="1" h_y="592" h_x="257" rqPosition="2163" h_href="b47b" ></a>
        <a class="fp005" title="3" wybredPosition="1" wybblackPosition="1" h_y="577" h_x="254" rqPosition="2165" h_href="b47b" ></a>
    </div>

    <div ng-show="pageServicePint.In1Sen_B47B_Conn_x_Install== '1'">
        <!--插头背部-->
        <a class="fp009" title="1" wybredPosition="2" wybblackPosition="2" h_y="511" h_x="235" rqPosition="2162" h_href="b47b" ></a>
        <a class="fp010" title="2" wybredPosition="2" wybblackPosition="2" h_y="495" h_x="237" rqPosition="2164" h_href="b47b" ></a>
        <a class="fp011" title="3" wybredPosition="2" wybblackPosition="2" h_y="484" h_x="240" rqPosition="2166" h_href="b47b" ></a>
    </div>
</div>