<div class="fd-bg fd-b68">
    <div class="fd-zz" ng-click="backPage('fdjx')"></div>
    <div class="b68-head-install" ng-show="pageServicePint.In1Sen_B68_Conn_x_Install=='1'"></div>
    <div class="kns001" ng-show="pageServicePint.In1Sen_B68_Conn_x_Install=='1'" ng-click="ctOpen('In1Sen_B68_Conn_x_Install','2','b68')"></div>
    <div class="b68-head-out" ng-show="pageServicePint.In1Sen_B68_Conn_x_Install=='0'"></div>
    <div class="kns002" ng-show="pageServicePint.In1Sen_B68_Conn_x_Install=='0'&&pageServicePdata.b68_tearDown" ng-click="ctClose('In1Sen_B68_Conn_x_Install','1','b68')"></div>
    <!--更换线束-->
    <div id="bj-b68-line"  class="b68-line-hot line" ng-show="pageServicePint.In1Sen_B68_Conn_x_Install== '0'" ></div>
    <div class="b68-line" status="bj-b68-line"></div>
    <!--更换零件-->
    <div class="b68-light" status="bj-b68" ng-show="!pageServicePdata.b68_tearDown"></div>
    <div id="msg-b68" class="kns000 bj-b68" sata="hexagonal-10mm" ng-click="showMsg('msg-b68','请选择10MM六角套筒')" ng-show="pageServicePint.In1Sen_B68_Conn_x_Install== '0'&&pageServicePdata.b68_tearDown" title="制动液位控制开关"></div>
    <div  class="kns000 b68_install" ng-show="!pageServicePdata.b68_tearDown"></div>

    <!--万用表交互热区-->
    <div ng-show="pageServicePint.In1Sen_B68_Conn_x_Install== '0'">
        <!--插头-->
        <a class="kns007" title="1" wybredPosition="1" wybblackPosition="1" h_y="453" h_x="336" rqPosition="2121" h_href="b68" ></a>
        <a class="kns008" title="2" wybredPosition="1" wybblackPosition="1" h_y="488" h_x="368" rqPosition="2123" h_href="b68" ></a>

        <!--插座-->
        <a class="kns005" title="1" wybredPosition="1" wybblackPosition="1" h_y="662" h_x="271" rqPosition="4067" h_href="b68" ></a>
        <a class="kns006" title="2" wybredPosition="1" wybblackPosition="1" h_y="654" h_x="299" rqPosition="4068" h_href="b68" ></a>


    </div>
    <div ng-show="pageServicePint.In1Sen_B68_Conn_x_Install== '1'">
        <!--插头背部-->
        <a class="kns003" title="1" wybredPosition="2" wybblackPosition="2" h_y="572" h_x="349" rqPosition="2122" h_href="b68" ></a>
        <a class="kns004" title="2" wybredPosition="2" wybblackPosition="2" h_y="572" h_x="378" rqPosition="2124" h_href="b68" ></a>

    </div>

</div>