<div class="fd-bg fd-b74">
    <div class="fd-zz" ng-click="backPage('engine',470,175)"></div>
    <!--进气歧管压力传感器-->
    <div class="b74-head-install" ng-show="pageServicePint.In1Sen_B74_Conn_x_Install=='1'"></div>
    <div class="map001" ng-show="pageServicePint.In1Sen_B74_Conn_x_Install=='1'"
         ng-click="ctOpen('In1Sen_B74_Conn_x_Install','2','b74')"></div>
    <div class="b74-head-out" ng-show="pageServicePint.In1Sen_B74_Conn_x_Install=='0'"></div>
    <div class="map002" ng-show="pageServicePint.In1Sen_B74_Conn_x_Install=='0'&&pageServicePdata.b74_tearDown"
         ng-click="ctClose('In1Sen_B74_Conn_x_Install','1','b74')"></div>
    <!--蒸发排放吹洗电磁阀插头（碳管电磁阀）-->
    <div class="b74-tgdcf-install" ng-show="pageServicePint.In1Sen_Q12_Conn_x_Install=='1'"></div>
    <div class="ev000" ng-show="pageServicePint.In1Sen_Q12_Conn_x_Install=='1'"
         ng-click="ctOpen('In1Sen_Q12_Conn_x_Install','4','b74')"></div>
    <div class="b74-tgdcf-out" ng-show="pageServicePint.In1Sen_Q12_Conn_x_Install=='0'"></div>
    <div class="ev002" ng-show="pageServicePint.In1Sen_Q12_Conn_x_Install=='0'&&pageServicePdata.q12_tearDown"
         ng-click="ctClose('In1Sen_Q12_Conn_x_Install','3','b74')"></div>
    <!--压力传感器更换零件-->
    <div class="b74-light" status="bj-b74" ng-show="!pageServicePdata.b74_tearDown"></div>
    <div id="msg-b74" class="map000 bj-b74" sata="Ttype-T25" ng-click="showMsg('msg-b74','请选择T25')" ng-show="pageServicePint.In1Sen_B74_Conn_x_Install== '0'&&pageServicePdata.b74_tearDown" title="进气歧管压力传感器"></div>
    <div class="map000 b74_install" ng-show="!pageServicePdata.b74_tearDown"></div>
    <!--炭罐电磁阀更换零件-->
    <div class="q12-light" status="bj-q12" ng-show="!pageServicePdata.q12_tearDown"></div>
    <div id="msg-q12" class="ev001 bj-q12" sata="hexagonal-55mm" ng-click="tearDownBody('q12','3','b74')" ng-show="pageServicePint.In1Sen_Q12_Conn_x_Install== '0'&&pageServicePdata.q12_tearDown" title="蒸发排放吹洗电磁阀"></div>
    <div class="ev001 q12_install" ng-show="!pageServicePdata.q12_tearDown"></div>
    <!--压力传感器更换线束-->
    <div id="bj-b74-line" class="b74-line-hot line" ng-show="pageServicePint.In1Sen_B74_Conn_x_Install== '0'" ></div>
    <div class="b74-line" status="bj-b74-line"></div>
    <!--炭罐电磁阀更换线束-->
    <div id="bj-q12-line" class="q12-line-hot line" ng-show="pageServicePint.In1Sen_Q12_Conn_x_Install== '0'" ></div>
    <div class="q12-line" status="bj-q12-line"></div>
    <!--万用表交互热区-->
    <!--进气歧管压力传感器-->
    <div ng-show="pageServicePint.In1Sen_B74_Conn_x_Install== '0'">
        <div ng-show="pageServicePdata.b74_tearDown">
            <!--插座-->
            <a class="map006" title="1" wybredPosition="1" wybblackPosition="1" h_y="214" h_x="367" rqPosition="4095"
               h_href="b74"></a>
            <a class="map007" title="2" wybredPosition="1" wybblackPosition="1" h_y="232" h_x="358" rqPosition="4096"
               h_href="b74"></a>
            <a class="map008" title="3" wybredPosition="1" wybblackPosition="1" h_y="254" h_x="354" rqPosition="4097"
               h_href="b74"></a>
        </div>
        <!--插头-->
        <a class="map003" title="1" wybredPosition="1" wybblackPosition="1" h_y="454" h_x="419" rqPosition="153"
           h_href="b74"></a>
        <a class="map004" title="2" wybredPosition="1" wybblackPosition="1" h_y="432" h_x="409" rqPosition="155"
           h_href="b74"></a>
        <a class="map005" title="3" wybredPosition="1" wybblackPosition="1" h_y="410" h_x="399" rqPosition="157"
           h_href="b74"></a>
    </div>

    <div ng-show="pageServicePint.In1Sen_B74_Conn_x_Install== '1'">
        <!--插头背部-->
        <a class="map009" title="1" wybredPosition="2" wybblackPosition="2" h_y="285" h_x="410" rqPosition="154"
           h_href="b74"></a>
        <a class="map010" title="2" wybredPosition="2" wybblackPosition="2" h_y="307" h_x="405" rqPosition="156"
           h_href="b74"></a>
        <a class="map011" title="3" wybredPosition="2" wybblackPosition="2" h_y="330" h_x="400" rqPosition="158"
           h_href="b74"></a>
    </div>
<!--炭罐电磁阀-->
    <div ng-show="pageServicePint.In1Sen_Q12_Conn_x_Install== '0'">
        <div ng-show="pageServicePdata.q12_tearDown">
            <!--插座-->
            <a class="ev007" title="1" wybredPosition="3" wybblackPosition="3" h_y="486" h_x="206" rqPosition="4069"
               h_href="b74"></a>
            <a class="ev008" title="2" wybredPosition="3" wybblackPosition="3" h_y="491" h_x="226" rqPosition="4070"
               h_href="b74"></a>
        </div>
        <!--插头-->
        <a class="ev005" title="1" wybredPosition="3" wybblackPosition="3" h_y="762" h_x="143" rqPosition="193"
           h_href="b74"></a>
        <a class="ev006" title="2" wybredPosition="3" wybblackPosition="3" h_y="735" h_x="147" rqPosition="195"
           h_href="b74"></a>

    </div>

    <div ng-show="pageServicePint.In1Sen_Q12_Conn_x_Install== '1'">
        <!--插头背部-->
        <a class="ev003" title="1" wybredPosition="4" wybblackPosition="4" h_y="550" h_x="244" rqPosition="194"
           h_href="b74"></a>
        <a class="ev004" title="2" wybredPosition="4" wybblackPosition="4" h_y="547" h_x="264" rqPosition="196"
           h_href="b74"></a>
    </div>
</div>