<div class="fd-bg fd-e13la" switches="s30swt-s78swt">
    <div class="fd-zz" ng-click="backPage('engine')"></div>
    <div class="e13la-head-install" ng-show="pageServicePint.In1Veh_E13LA_Conn_x_Install=='1'"></div>
    <div class="lh001" ng-show="pageServicePint.In1Veh_E13LA_Conn_x_Install=='1'" ng-click="ctOpen('In1Veh_E13LA_Conn_x_Install','2','e13la')"></div>
    <div class="e13la-head-out" ng-show="pageServicePint.In1Veh_E13LA_Conn_x_Install=='0'"></div>
    <div class="lh002" ng-show="pageServicePint.In1Veh_E13LA_Conn_x_Install=='0'&&pageServicePdata.e13la_tearDown" ng-click="ctClose('In1Veh_E13LA_Conn_x_Install','1','e13la')"></div>
    <!--更换零件-->
    <div class="e13la-light" status="bj-e13la" ng-show="!pageServicePdata.e13la_tearDown"></div>
    <div id="msg-e13la" class="lh000 bj-e13la" sata="hexagonal-10mm" ng-click="showMsg('msg-e13la','请选择六角10MM套筒')" ng-show="pageServicePint.In1Veh_E13LA_Conn_x_Install=='0'&&pageServicePdata.e13la_tearDown" title="左大灯"></div>
    <div  class="lh000 e13la_install" ng-show="!pageServicePdata.e13la_tearDown"></div>
    <!--更换线束-->
    <div id="bj-e13la-line" class="e13la-line-hot line" ng-show="pageServicePint.In1Veh_E13LA_Conn_x_Install== '0'" ></div>
    <div class="e13la-line" status="bj-e13la-line"></div>
    <!--万用表交互热区-->
    <div ng-show="pageServicePint.In1Veh_E13LA_Conn_x_Install== '0'">
        <!--插头-->
        <a class="lh015" title="1" wybredPosition="1" wybblackPosition="1" h_y="420" h_x="166" rqPosition="3039" h_href="e13la" ></a>
        <a class="lh016" title="2" wybredPosition="1" wybblackPosition="1" h_y="429" h_x="177" rqPosition="3041" h_href="e13la" ></a>
        <a class="lh017" title="3" wybredPosition="1" wybblackPosition="1" h_y="436" h_x="187" rqPosition="3043" h_href="e13la" ></a>
        <a class="lh018" title="4" wybredPosition="1" wybblackPosition="1" h_y="446" h_x="195" rqPosition="3045" h_href="e13la" ></a>
        <a class="lh019" title="5" wybredPosition="1" wybblackPosition="1" h_y="452" h_x="170" rqPosition="2139" h_href="e13la" ></a>
        <a class="lh020" title="6" wybredPosition="1" wybblackPosition="1" h_y="577" h_x="254"  h_href="x160" ></a>
        <a class="lh021" title="7" wybredPosition="1" wybblackPosition="1" h_y="530" h_x="479" rqPosition="2155" h_href="e13la" ></a>
        <a class="lh022" title="8" wybredPosition="1" wybblackPosition="1" h_y="530" h_x="492" rqPosition="2171" h_href="e13la" ></a>
        <a class="lh023" title="9" wybredPosition="1" wybblackPosition="1" h_y="452" h_x="170" rqPosition="3047" h_href="e13la" ></a>
        <a class="lh024" title="10" wybredPosition="1" wybblackPosition="1" h_y="460" h_x="178" rqPosition="3049" h_href="e13la" ></a>
        <a class="lh025" title="11" wybredPosition="1" wybblackPosition="1" h_y="530" h_x="529" rqPosition="2167" h_href="e13la" ></a>
        <a class="lh026" title="12" wybredPosition="1" wybblackPosition="1" h_y="530" h_x="542" rqPosition="2169" h_href="e13la" ></a>
        </div>
</div>