<div class="fd-bg fd-e41">
    <div class="fd-zz" ng-click="backPage('engine')"></div>
    <div class="e41-head-install" ng-show="pageServicePint.In1Sen_E41_Conn_x_Install=='1'"></div>
    <div class="thh001" ng-show="pageServicePint.In1Sen_E41_Conn_x_Install=='1'" ng-click="ctOpen('In1Sen_E41_Conn_x_Install','2','e41')"></div>
    <div class="e41-head-out" ng-show="pageServicePint.In1Sen_E41_Conn_x_Install=='0'"></div>
    <div class="thh002" ng-show="pageServicePint.In1Sen_E41_Conn_x_Install=='0'&&pageServicePdata.e41_tearDown" ng-click="ctClose('In1Sen_E41_Conn_x_Install','1','e41')"></div>
    <!--更换线束-->
    <div id="bj-e41-line" class="e41-line-hot line" ng-show="pageServicePint.In1Sen_E41_Conn_x_Install== '0'" ></div>
    <div class="e41-line" status="bj-e41-line"></div>
    <!--更换零件-->
    <div class="e41-light" status="bj-e41" ng-show="!pageServicePdata.e41_tearDown"></div>
    <div id="msg-e41" class="thh000 bj-e41" sata="hexagonal-10mm" ng-click="showMsg('msg-e41','请选择六角10MM套筒')" ng-show="pageServicePint.In1Sen_E41_Conn_x_Install== '0'&&pageServicePdata.e41_tearDown" title="排气凸轮轴位置传感器"></div>
    <div  class="thh000 e41_install" ng-show="!pageServicePdata.e41_tearDown"></div>

    <!--万用表交互热区-->
    <div ng-show="pageServicePint.In1Sen_E41_Conn_x_Install== '0'">
        <!--插头-->
        <a class="thh007" title="1" wybredPosition="1" wybblackPosition="1" h_y="254" h_x="294" rqPosition="169" h_href="e41" ></a>
        <a class="thh008" title="2" wybredPosition="1" wybblackPosition="1" h_y="243" h_x="322" rqPosition="171" h_href="e41" ></a>

        <!--插座-->
        <a class="thh005" title="1" wybredPosition="1" wybblackPosition="1" h_y="522" h_x="318" rqPosition="4073" h_href="e41" ></a>
        <a class="thh006" title="2" wybredPosition="1" wybblackPosition="1" h_y="507" h_x="344" rqPosition="4074" h_href="e41" ></a>


    </div>
    <div ng-show="pageServicePint.In1Sen_E41_Conn_x_Install== '1'">
        <!--插头背部-->
        <a class="thh003" title="1" wybredPosition="2" wybblackPosition="2" h_y="432" h_x="394" rqPosition="170" h_href="e41" ></a>
        <a class="thh004" title="2" wybredPosition="2" wybblackPosition="2" h_y="418" h_x="415" rqPosition="172" h_href="e41" ></a>

    </div>
</div>