<div class="fdjc">
    <div class="fdj-gai"></div>
    <div class="fdjc-t8a-body" ng-show="pageServicePint.In1Sen_T8A_Coil_Body_Install=='1'"></div>
    <div class="fdjc-t8b-body" ng-show="pageServicePint.In1Sen_T8B_Coil_Body_Install=='1'"></div>
    <div class="fdjc-t8c-body" ng-show="pageServicePint.In1Sen_T8C_Coil_Body_Install=='1'"></div>
    <div class="fdjc-t8d-body" ng-show="pageServicePint.In1Sen_T8D_Coil_Body_Install=='1'"></div>
    <div class="fdjc-t8a-head-install" ng-show="pageServicePint.In1Sen_T8A_Coil_x_Install=='1'"></div>
    <div class="fdjc-t8b-head-install" ng-show="pageServicePint.In1Sen_T8B_Coil_x_Install=='1'"></div>
    <div class="fdjc-t8c-head-install" ng-show="pageServicePint.In1Sen_T8C_Coil_Conn_Install=='1'"></div>
    <div class="fdjc-t8d-head-install" ng-show="pageServicePint.In1Sen_T8D_Coil_Conn_Install=='1'"></div>
    <div class="fdjc-t8a-head-out" ng-show="pageServicePint.In1Sen_T8A_Coil_x_Install=='0'"></div>
    <div class="fdjc-t8b-head-out" ng-show="pageServicePint.In1Sen_T8B_Coil_x_Install=='0'"></div>
    <div class="fdjc-t8c-head-out" ng-show="pageServicePint.In1Sen_T8C_Coil_Conn_Install=='0'"></div>
    <div class="fdjc-t8d-head-out" ng-show="pageServicePint.In1Sen_T8D_Coil_Conn_Install=='0'"></div>
    <div class="fdjc-b23e-head-install" ng-show="pageServicePint.In1Sen_B23E_Conn_x_Install=='1'"></div>
    <div class="fdjc-b23e-head-out" ng-show="pageServicePint.In1Sen_B23E_Conn_x_Install=='0'"></div>
    <div class="fdjc-b47b-head-install" ng-show="pageServicePint.In1Sen_B47B_Conn_x_Install=='1'"></div>
    <div class="fdjc-b47b-head-out" ng-show="pageServicePint.In1Sen_B47B_Conn_x_Install=='0'"></div>
    <div class="fdjc-b52a-head-install" ng-show="pageServicePint.In1Sen_B52A_Conn_x_Install=='1'"></div>
    <div class="fdjc-b52a-head-out" ng-show="pageServicePint.In1Sen_B52A_Conn_x_Install=='0'"></div>
    <div class="fdjc-b75c-head-install" ng-show="pageServicePint.In1Sen_B75C_Conn_x_Install=='1'"></div>
    <div class="fdjc-b75c-head-out" ng-show="pageServicePint.In1Sen_B75C_Conn_x_Install=='0'"></div>
    <div class="fdjc-x160-head-install" ng-show="pageServicePint.In1Sen_X160_Conn_x_Install=='1'"></div>
    <div class="fdjc-x160-head-out" ng-show="pageServicePint.In1Sen_X160_Conn_x_Install=='0'"></div>
    <div class="fdjc-k20x1-head-install" ng-show="pageServicePint.In1Sen_K20_X1_x_Install=='1'"></div>
    <div class="fdjc-k20x1-head-out" ng-show="pageServicePint.In1Sen_K20_X1_x_Install=='0'"></div>
    <div class="fdjc-k20x2-head-install" ng-show="pageServicePint.In1Sen_K20_X2_x_Install=='1'"></div>
    <div class="fdjc-k20x2-head-out" ng-show="pageServicePint.In1Sen_K20_X2_x_Install=='0'"></div>
    <div class="fdjc-k20x3-head-install" ng-show="pageServicePint.In1Sen_K20_X3_x_Install=='1'"></div>
    <div class="fdjc-k20x3-head-out" ng-show="pageServicePint.In1Sen_K20_X3_x_Install=='0'"></div>
    <div class="fdjc-q6e-head-install" ng-show="pageServicePint.In1Sen_Q6E_Conn_x_Install=='1'"></div>
    <div class="fdjc-q6e-head-out" ng-show="pageServicePint.In1Sen_Q6E_Conn_x_Install=='0'"></div>
    <div class="fdjc-q6f-head-install" ng-show="pageServicePint.In1Sen_Q6F_Conn_x_Install=='1'"></div>
    <div class="fdjc-q6f-head-out" ng-show="pageServicePint.In1Sen_Q6F_Conn_x_Install=='0'"></div>
    <div class="fdjc-f3ua-install" ng-show="pageServicePint.In1Sen_F3UA_Body_x_Install=='1'"></div>
    <div class="fdjc-f3ua-out" ng-show="pageServicePint.In1Sen_F3UA_Body_x_Install=='0'"></div>
    <div class="fdjc-f20ua-install" ng-show="pageServicePint.In1Sen_F20UA_Body_x_Install=='1'"></div>
    <div class="fdjc-f20ua-out" ng-show="pageServicePint.In1Sen_F20UA_Body_x_Install=='0'"></div>
    <div class="fdjc-f31ua-install" ng-show="pageServicePint.In1Sen_F31UA_Body_x_Install=='1'"></div>
    <div class="fdjc-f31ua-out" ng-show="pageServicePint.In1Sen_F31UA_Body_x_Install=='0'"></div>

    <div class="fdjc-f12ua-install" ng-show="pageServicePint.In1Sen_F12UA_Body_x_Install=='1'"></div>
    <div class="fdjc-f13ua-install" ng-show="pageServicePint.In1Sen_F13UA_Body_x_Install=='1'"></div>
    <div class="fdjc-f14ua-install" ng-show="pageServicePint.In1Sen_F14UA_Body_x_Install=='1'"></div>
    <div class="fdjc-f15ua-install" ng-show="pageServicePint.In1Sen_F15UA_Body_x_Install=='1'"></div>
    <div class="fdjc-f12ua-out" ng-show="pageServicePint.In1Sen_F12UA_Body_x_Install=='0'"></div>
    <div class="fdjc-f13ua-out" ng-show="pageServicePint.In1Sen_F13UA_Body_x_Install=='0'"></div>
    <div class="fdjc-f14ua-out" ng-show="pageServicePint.In1Sen_F14UA_Body_x_Install=='0'"></div>
    <div class="fdjc-f15ua-out" ng-show="pageServicePint.In1Sen_F15UA_Body_x_Install=='0'"></div>

   <!-- <div class="fdj003" title="发动机罩" ng-click=""></div>-->

    <div class="fdj16" title="点火线圈t8a和t8b" ng-click="changePage('t8at8b',400,260);addAction('ver013');" ></div>
    <div class="fdj17" title="点火线圈t8c和t8d" ng-click="changePage('t8ct8d',400,260);addAction('ver022');" ></div>
    <div class="fdj21" title="排气凸轮轴位置传感器" ng-click="changePage('b23e',600,350);addAction('ver014');"></div>
    <div class="fdj15" title="燃油压力传感器" ng-click="changePage('b47b',460,233);addAction('ver012');"></div>
    <div class="fdj19" title="加热型氧传感器" ng-click="changePage('b52a',370,440);addAction('ver009');"></div>
    <div class="fdj20" title="后氧传感器" ng-click="changePage('b52b',486,462);addAction('ver020');"></div>
    <div class="fdj10" title="B75C多功能进气传感器（空气流量计）" ng-click="changePage('b75c',240,190);addAction('ver015')"></div>
    <div class="fdj23" title="喷油器" ng-click="changePage('x160',600,220);addAction('ver011');" ></div>
    <div class="fdj26" title="发动机电脑" ng-click="changePage('k20',730,320);addAction('');"></div>
    <div class="fdj12" title="进气凸轮轴位置执行器" ng-click="changePage('q6f',330,215);addAction('ver017');"></div>
    <div class="fdj18" title="排气凸轮轴位置执行器" ng-click="changePage('q6e',314,390);addAction('ver023');"></div>
    <div class="fdj11" title="节气门" ng-click="changePage('q38',285,175);addAction('ver007');"></div>
    <div class="fdj22" title="进气凸轮轴位置传感器" ng-click="changePage('b23f',580,180);addAction('ver021');"></div>
    <div class="fdj14" title="进气歧管压力传感器和蒸发排放吹洗电磁阀" ng-click="changePage('b74',470,175);addAction('ver008');addAction('ver016')"></div>
    <div class="fdj27-1" title="保险丝上" ng-click="changePage('f31ua',870,230);addAction('ver018')"></div>
    <div class="fdj27-2" title="保险丝下" ng-click="changePage('f20_12_3ua',880,300);addAction('ver019');addAction('ver891');addAction('ver883');addAction('ver878')"></div>
    <div class="fdj65" title="进气歧管电磁阀" ng-click="changePage('q22',622,168);addAction('ver010');"></div>
    <!--五月份-->
    <div class="fdj50" title="右前大灯" ng-click="changePage('e13ra')"></div>
    <div class="fdj51" title="左前大灯" ng-click="changePage('e13la');addAction('ver884')"></div>
    <div class="fdj52" title="右侧喇叭" ng-click="changePage('p12a')"></div>
    <div class="fdj53" title="左侧喇叭" ng-click="changePage('p12b')"></div>
    <div class="fdj54" title="右前轮速传感器" ng-click="changePage('b5rf')"></div>
    <div class="fdj55" title="左前轮速传感器" ng-click="changePage('b5lf');addAction('ver888')"></div>
    <div class="fdj56" title="雨刷电机" ng-click="changePage('m79');addAction('ver882')"></div>
    <div class="fdj57" title="冷却液温度传感器1" ng-click="changePage('b34a');addAction('ver872')"></div>
    <div class="fdj58" title="冷却液温度传感器2" ng-click="changePage('b34b');addAction('ver873')"></div>
    <div class="fdj59" title="ABS控制模块" ng-click="changePage('k17')"></div>
    <div class="fdj60" title="节温器加热器" ng-click="changePage('e41');addAction('ver880')"></div>
    <div class="fdj62" title="制动液壶" ng-click="changePage('b20',700,70);addAction('ver887')"></div>
    <div class="fdj63" title="冷却液壶" ng-click="changePage('coolant',736,146)"></div>
    <div class="fdj64" title="机油尺" ng-click="changePage('oliFoot',406,190)"></div>
    <div class="fdj65" title="进气歧管电磁阀" ng-click="changePage('q22')"></div>
    <div class="fdj66" title="发动机下部" ng-click="changePage('fdjx')"></div>


    <div class="diodelamp-clip" ng-show="diodelampServiceOdata.diodelampStatus">
        <div class="diodelamp-go" ng-click="diodelampBack(diodelampServiceOdata.diodelamp_Html);"></div>
    </div>

    <div class="oscilloscope-clip" ng-show="oscilloscopeServiceMdata.oscilloscopeStatus">
        <div class="diodelamp-go" ng-click="diodelampBack(oscilloscopeServiceMdata.diodelamp_Html);"></div>
    </div>

    <ng-include src="'framework/diodelamp/template/diodelampSvg.html'"></ng-include>
    <ng-include src="'framework/oscilloscope/template/oscilloscopeSvg.html'"></ng-include>
</div>
