<div class="fd-bg fd-f31ua" switches="s30swt-s78swt">
    <div class="fd-zz" ng-click="backPage('engine',870,230)"></div>

    <a class="a502" wybredPosition="0" wybblackPosition="0" h_x="87" h_y="885" rqPosition="2" h_href="f31ua"></a>
    <a class="a501" wybredPosition="0" wybblackPosition="0" h_x="169" h_y="499" rqPosition="1" h_href="f31ua"></a>

    <a class="a502" wybredPosition="0" wybblackPosition="0" h_x="87" h_y="885" rqPosition="4" h_href="f31ua"></a>
    <a class="a501" wybredPosition="0" wybblackPosition="0" h_x="169" h_y="499" rqPosition="3" h_href="f31ua"></a>
    <!--f31ua-->
    <div class="f31ua-head-install" ng-show="pageServicePint.In1Sen_F31UA_Body_x_Install=='1'" status="f31ua"></div>
    <div class="u3100" ng-show="pageServicePint.In1Sen_F31UA_Body_x_Install=='1'&&!pageServicePdata.fuse_out" ng-click="ctOpen('In1Sen_F31UA_Body_x_Install','2','f31ua','f31ua')"></div>
    <div class="f31ua-head-out" ng-show="pageServicePint.In1Sen_F31UA_Body_x_Install=='0'&&pageServicePdata.f31ua_out" id="f31ua">
        <div class="u3101" ng-show="pageServicePdata.onDrag" ng-click="ctClose('In1Sen_F31UA_Body_x_Install','1','f31ua','f31ua')"></div>
    </div>

    <!--更换保险丝热区-->
    <div id="th-f31ua" ng-show="pageServicePint.In1Sen_F31UA_Body_x_Install=='0'" class="bjf-f31ua bjz-f31ua" ></div>
<!--f31ua万用表交互热区-->
    <div ng-show="pageServicePint.In1Sen_F31UA_Body_x_Install== '0'">
        <!--保险丝脚-->
        <a class="u3104" title="1" wybredPosition="1" wybblackPosition="1" h_x="478" h_y="814" rqPosition="4019" h_href="f31ua" ></a>
        <a class="u3105" title="2" wybredPosition="1" wybblackPosition="1" h_x="488" h_y="832" rqPosition="4020" h_href="f31ua" ></a>
<!--保险丝座-->

        <a class="u3106" title="2" wybredPosition="1" wybblackPosition="1" h_x="471" h_y="830" rqPosition="21" h_href="f31ua" ></a>
        <a class="u3107" title="1" wybredPosition="1" wybblackPosition="1" h_x="471" h_y="851" rqPosition="19" h_href="f31ua" ></a>


    </div>
    <div ng-show="pageServicePint.In1Sen_F31UA_Body_x_Install== '1'">
        <!--保险丝背部-->
        <a class="u3102" title="2" wybredPosition="2" wybblackPosition="2" h_x="467" h_y="835" rqPosition="22" h_href="f31ua" ></a>
        <a class="u3103" title="1" wybredPosition="2" wybblackPosition="2" h_x="467" h_y="854" rqPosition="20" h_href="f31ua" ></a>
    </div>

    <!--f36ua-->
    <div class="f36ua-head-install" ng-show="pageServicePint.In1Sen_F36UA_Body_x_Install=='1'" status="f36ua"></div>
    <div class="u3600" ng-show="pageServicePint.In1Sen_F36UA_Body_x_Install=='1'&&!pageServicePdata.fuse_out" ng-click="ctOpen('In1Sen_F36UA_Body_x_Install','4','f31ua')"></div>
    <div class="f36ua-head-out" ng-show="pageServicePint.In1Sen_F36UA_Body_x_Install=='0'&&pageServicePdata.f36ua_out" id="f36ua">
        <div class="u3601" ng-show="pageServicePdata.onDrag" ng-click="ctClose('In1Sen_F36UA_Body_x_Install','3','f31ua')"></div>
    </div>
    <!--更换保险丝热区-->
    <div id="th-f36ua" ng-show="pageServicePint.In1Sen_F36UA_Body_x_Install=='0'" class="bjf-f36ua bjz-f31ua"></div>
    <!--f36ua万用表交互热区-->
    <div ng-show="pageServicePint.In1Sen_F36UA_Body_x_Install== '0'">
        <!--保险丝脚-->
        <a class="u3604" title="1" wybredPosition="3" wybblackPosition="3" h_x="431" h_y="764" rqPosition="4023" h_href="f31ua" ></a>
        <a class="u3605" title="2" wybredPosition="3" wybblackPosition="3" h_x="441" h_y="783" rqPosition="4024" h_href="f31ua" ></a>
        <!--保险丝座-->
        <a class="u3606" title="2" wybredPosition="3" wybblackPosition="3" h_x="452" h_y="830" rqPosition="1003" h_href="f31ua" ></a>
        <a class="u3607" title="1" wybredPosition="3" wybblackPosition="3" h_x="451" h_y="851" rqPosition="1001" h_href="f31ua" ></a>

    </div>
    <div ng-show="pageServicePint.In1Sen_F36UA_Body_x_Install== '1'">
        <!--保险丝背部-->
        <a class="u3602" title="2" wybredPosition="4" wybblackPosition="4" h_x="447" h_y="836" rqPosition="1004" h_href="f31ua" ></a>
        <a class="u3603" title="1" wybredPosition="4" wybblackPosition="4" h_x="446" h_y="854" rqPosition="1002" h_href="f31ua" ></a>
    </div>
    <!--kr42r-->
    <div class="kr42r-head-install" ng-show="pageServicePint.In1Veh_KR42R_Conn_x_Install=='1'" status="kr42r"></div>
    <div class="kr42r-head-install-hot" ng-show="pageServicePint.In1Veh_KR42R_Conn_x_Install=='1'&&!pageServicePdata.fuse_out" ng-click="ctOpen('In1Veh_KR42R_Conn_x_Install','6','f31ua')"></div>
    <div class="kr42r-head-out" ng-show="pageServicePint.In1Veh_KR42R_Conn_x_Install=='0'&&pageServicePdata.kr42r_out" id="kr42r">
        <div class="kr42r-head-out-hot" ng-show="pageServicePdata.onDrag" ng-click="ctClose('In1Veh_KR42R_Conn_x_Install','5','f31ua')"></div>
    </div>
    <!--kr42l-->
    <div class="kr42l-head-install" ng-show="pageServicePint.In1Veh_KR42L_Conn_x_Install=='1'" status="kr42l"></div>
    <div class="kr42l-head-install-hot" ng-show="pageServicePint.In1Veh_KR42L_Conn_x_Install=='1'&&!pageServicePdata.fuse_out" ng-click="ctOpen('In1Veh_KR42L_Conn_x_Install','8','f31ua')"></div>
    <div class="kr42l-head-out" ng-show="pageServicePint.In1Veh_KR42L_Conn_x_Install=='0'&&pageServicePdata.kr42l_out" id="kr42l">
        <div class="kr42l-head-out-hot" ng-show="pageServicePdata.onDrag" ng-click="ctClose('In1Veh_KR42L_Conn_x_Install','7','f31ua')"></div>
    </div>
    <!--f57ua-->
    <div class="f57ua-head-install" ng-show="pageServicePint.In1Veh_F57UA_Body_x_Install=='1'" status="f57ua"></div>
    <div class="f57ua-head-install-hot" ng-show="pageServicePint.In1Veh_F57UA_Body_x_Install=='1'&&!pageServicePdata.fuse_out" ng-click="ctOpen('In1Veh_F57UA_Body_x_Install','10','f31ua')"></div>
    <div class="f57ua-head-out" ng-show="pageServicePint.In1Veh_F57UA_Body_x_Install=='0'&&pageServicePdata.f57ua_out" id="f57ua">
        <div class="f57ua-head-out-hot" ng-show="pageServicePdata.onDrag" ng-click="ctClose('In1Veh_F57UA_Body_x_Install','9','f31ua')"></div>
    </div>
    <!--更换保险丝热区-->
    <div ng-show="pageServicePint.In1Veh_F57UA_Body_x_Install=='0'" class="f57ua-head-install-hot bjr-f57ua"></div>
    <!--f57ua万用表交互热区-->
    <div ng-show="pageServicePint.In1Veh_F57UA_Body_x_Install== '0'">
        <!--保险丝脚-->
        <a class="u5704" title="1" wybredPosition="9" wybblackPosition="9" h_x="301" h_y="600" rqPosition="4253" h_href="f31ua" ></a>
        <a class="u5705" title="2" wybredPosition="9" wybblackPosition="9" h_x="301" h_y="587" rqPosition="4254" h_href="f31ua" ></a>
        <!--保险丝座-->
        <a class="u5706" title="1" wybredPosition="9" wybblackPosition="9" h_x="303" h_y="639" rqPosition="3255" h_href="f31ua" ></a>
        <a class="u5707" title="2" wybredPosition="9" wybblackPosition="9" h_x="303" h_y="655" rqPosition="3253" h_href="f31ua" ></a>

    </div>

    <div id="th-kr42l" ng-show="pageServicePint.In1Veh_KR42L_Conn_x_Install=='0'" class="kr42l-head-install-hot bjz-kr42"></div>
    <div id="th-kr42r" ng-show="pageServicePint.In1Veh_KR42R_Conn_x_Install=='0'" class="kr42r-head-install-hot bjz-kr42"></div>
    <!--kr42r万用表交互热区-->
    <div ng-show="pageServicePint.In1Veh_KR42R_Conn_x_Install== '0'">
        <!--保险丝脚-->
        <a class="rrr002" title="1" wybredPosition="5" wybblackPosition="5" h_x="556" h_y="759" rqPosition="3019" h_href="f31ua" ></a>
        <a class="rrr003" title="2" wybredPosition="5" wybblackPosition="5" h_x="533" h_y="758" rqPosition="3021" h_href="f31ua" ></a>
        <a class="rrr004" title="1" wybredPosition="5" wybblackPosition="5" h_x="545" h_y="724" rqPosition="3023" h_href="f31ua" ></a>
        <a class="rrr005" title="2" wybredPosition="5" wybblackPosition="5" h_x="550" h_y="745" rqPosition="3025" h_href="f31ua" ></a>
        <a class="rrr006" title="1" wybredPosition="5" wybblackPosition="5" h_x="546" h_y="764" rqPosition="3027" h_href="f31ua" ></a>

        <!--保险丝座-->
        <a class="rrr007" title="1" wybredPosition="5" wybblackPosition="5" h_x="504" h_y="677" rqPosition="4163" h_href="f31ua" ></a>
        <a class="rrr008" title="2" wybredPosition="5" wybblackPosition="5" h_x="504" h_y="659" rqPosition="4164" h_href="f31ua" ></a>
        <a class="rrr009" title="1" wybredPosition="5" wybblackPosition="5" h_x="470" h_y="669" rqPosition="4165" h_href="f31ua" ></a>
        <a class="rrr010" title="2" wybredPosition="5" wybblackPosition="5" h_x="491" h_y="670" rqPosition="4166" h_href="f31ua" ></a>
        <a class="rrr011" title="1" wybredPosition="5" wybblackPosition="5" h_x="503" h_y="667" rqPosition="4167" h_href="f31ua" ></a>

    </div>
    <!--kr42l万用表交互热区-->
    <div ng-show="pageServicePint.In1Veh_KR42L_Conn_x_Install== '0'">
        <!--保险丝脚-->
        <a class="lrr002" title="1" wybredPosition="7" wybblackPosition="7" h_x="526" h_y="889" rqPosition="3009" h_href="f31ua" ></a>
        <a class="lrr003" title="2" wybredPosition="7" wybblackPosition="7" h_x="499" h_y="887" rqPosition="3011" h_href="f31ua" ></a>
        <a class="lrr004" title="1" wybredPosition="7" wybblackPosition="7" h_x="510" h_y="852" rqPosition="3013" h_href="f31ua" ></a>
        <a class="lrr005" title="2" wybredPosition="7" wybblackPosition="7" h_x="516" h_y="874" rqPosition="3015" h_href="f31ua" ></a>
        <a class="lrr006" title="1" wybredPosition="7" wybblackPosition="7" h_x="511" h_y="894" rqPosition="3017" h_href="f31ua" ></a>

        <!--保险丝座-->
        <a class="lrr007" title="1" wybredPosition="7" wybblackPosition="7" h_x="466" h_y="658" rqPosition="4158" h_href="f31ua" ></a>
        <a class="lrr008" title="2" wybredPosition="7" wybblackPosition="7" h_x="461" h_y="640" rqPosition="4159" h_href="f31ua" ></a>
        <a class="lrr009" title="1" wybredPosition="7" wybblackPosition="7" h_x="427" h_y="653" rqPosition="4160" h_href="f31ua" ></a>
        <a class="lrr010" title="2" wybredPosition="7" wybblackPosition="7" h_x="448" h_y="651" rqPosition="4161" h_href="f31ua" ></a>
        <a class="lrr011" title="1" wybredPosition="7" wybblackPosition="7" h_x="463" h_y="647" rqPosition="4162" h_href="f31ua" ></a>

    </div>
</div>