<div class="fd-bg fd-fdjx">
    <div class="fd-zz" ng-click="backPage('engine')"></div>
    <div class="m64-install" ng-show="pageServicePint.In1Sen_M64_Conn_x_Install=='1'"></div>
    <div class="m64-out" ng-show="pageServicePint.In1Sen_M64_Conn_x_Install=='0'"></div>
    <div class="b68-install" ng-show="pageServicePint.In1Sen_B68_Conn_x_Install=='1'"></div>
    <div class="b68-out" ng-show="pageServicePint.In1Sen_B68_Conn_x_Install=='0'"></div>
    <div class="q18-install" ng-show="pageServicePint.In1Sen_Q18_Conn_x_Install=='1'"></div>
    <div class="q18-out" ng-show="pageServicePint.In1Sen_Q18_Conn_x_Install=='0'"></div>
    <div class="fdjx1" ng-click="changePage('q18');addAction('ver879')" title="燃油压力调节器"></div>
    <div class="fdjx2" ng-click="changePage('b68');addAction('ver875')" title="爆震传感器"></div>
    <div class="fdjx3" ng-click="changePage('b37b');addAction('ver874')" title="机油压力传感器"></div>
    <div class="fdjx4" ng-click="changePage('m64')" title="起动机"></div>
    <div class="fdjx5" ng-click="changePage('b26');addAction('ver871')" title="曲轴位置传感器"></div>
    </div>