<div class="fd-bg fd-k20">
    <div class="fd-zz" ng-click="backPage('engine',730,320)"></div>
    <!--更换零件-->
    <div class="k20-light" status="bj-k20" ng-show="!pageServicePdata.k20_tearDown"></div>
    <div id="msg-k20" class="ec000 " sata="hexagonal-55mm" ng-show="pageServicePint.In1Sen_K20_X3_x_Install== '0'&&pageServicePint.In1Sen_K20_X2_x_Install== '0'&&pageServicePint.In1Sen_K20_X1_x_Install== '0'&&pageServicePdata.k20_tearDown" ng-click="tearDownBody('k20')"></div>
    <div class="ec000 k20_install" ng-show="!pageServicePdata.k20_tearDown"></div>
    <!--发动机控制模块x3-->
        <div class="x3-head-install" ng-show="pageServicePint.In1Sen_K20_X3_x_Install=='1'"></div>
    <div class="ec003" ng-show="pageServicePint.In1Sen_K20_X3_x_Install=='1'" ng-click="ctOpen('In1Sen_K20_X3_x_Install');changeBigPage('x3',511,20)"></div>
    <div class="x3-head-out" ng-show="pageServicePint.In1Sen_K20_X3_x_Install=='0'"></div>
    <div class="ec300" ng-show="pageServicePint.In1Sen_K20_X3_x_Install=='0'&&pageServicePdata.k20_tearDown" ng-click="ctClose('In1Sen_K20_X3_x_Install','1','x3')"></div>
    <!--发动机控制模块x2-->
    <div class="x2-head-install" ng-show="pageServicePint.In1Sen_K20_X2_x_Install=='1'"></div>
    <div class="ec002" ng-show="pageServicePint.In1Sen_K20_X2_x_Install=='1'" ng-click="ctOpen('In1Sen_K20_X2_x_Install');changeBigPage('x2',523,257)"></div>
    <div class="x2-head-out" ng-show="pageServicePint.In1Sen_K20_X2_x_Install=='0'"></div>
    <div class="ec200" ng-show="pageServicePint.In1Sen_K20_X2_x_Install=='0'&&pageServicePdata.k20_tearDown" ng-click="ctClose('In1Sen_K20_X2_x_Install','1','x2')"></div>
    <!--发动机控制模块x1-->
    <div class="x1-head-install" ng-show="pageServicePint.In1Sen_K20_X1_x_Install=='1'"></div>
    <div class="ec001" ng-show="pageServicePint.In1Sen_K20_X1_x_Install=='1'" ng-click="ctOpen('In1Sen_K20_X1_x_Install');changeBigPage('x1',478,415)"></div>
    <div class="x1-head-out" ng-show="pageServicePint.In1Sen_K20_X1_x_Install=='0'"></div>
    <div class="ec100" ng-show="pageServicePint.In1Sen_K20_X1_x_Install=='0'&&pageServicePdata.k20_tearDown" ng-click="ctClose('In1Sen_K20_X1_x_Install','1','x1')"></div>

    <!--x1更换线束-->
    <div id="bj-x1-line" class="x1-line-hot line" ng-show="pageServicePint.In1Sen_K20_X1_x_Install== '0'" ></div>
    <div class="x1-line" status="bj-x1-line"></div>
    <!--x2更换线束-->
    <div id="bj-x2-line" class="x2-line-hot line" ng-show="pageServicePint.In1Sen_K20_X2_x_Install== '0'" ></div>
    <div class="x2-line" status="bj-x2-line"></div>
    <!--x3更换线束-->
    <div id="bj-x3-line" class="x3-line-hot line" ng-show="pageServicePint.In1Sen_K20_X3_x_Install== '0'" ></div>
    <div class="x3-line" status="bj-x3-line"></div>
</div>