<div class="fd-bg fd-m64">
    <div class="fd-zz" ng-click="backPage('fdjx')"></div>
    <div class="m64-head-install" ng-show="pageServicePint.In1Sen_M64_Conn_x_Install=='1'"></div>
    <div class="stm001" ng-show="pageServicePint.In1Sen_M64_Conn_x_Install=='1'" ng-click="ctOpen('In1Sen_M64_Conn_x_Install','2','m64')"></div>
    <div class="m64-head-out" ng-show="pageServicePint.In1Sen_M64_Conn_x_Install=='0'"></div>
    <div class="stm002" ng-show="pageServicePint.In1Sen_M64_Conn_x_Install=='0'&&pageServicePdata.m64_tearDown" ng-click="ctClose('In1Sen_M64_Conn_x_Install','1','m64')"></div>
    <!--更换线束-->
    <div id="bj-m64-line"  class="m64-line-hot line" ng-show="pageServicePint.In1Sen_M64_Conn_x_Install== '0'" ></div>
    <div class="m64-line" status="bj-m64-line"></div>
    <!--更换零件-->
    <div class="m64-light" status="bj-m64" ng-show="!pageServicePdata.m64_tearDown"></div>
    <div id="msg-m64" class="stm000 bj-m64" sata="hexagonal-10mm" ng-click="showMsg('msg-m64','请选择10MM六角套筒')" ng-show="pageServicePint.In1Sen_M64_Conn_x_Install== '0'&&pageServicePdata.m64_tearDown" title="制动液位控制开关"></div>
    <div  class="stm000 m64_install" ng-show="!pageServicePdata.m64_tearDown"></div>

    <!--万用表交互热区-->
    <div ng-show="pageServicePint.In1Sen_M64_Conn_x_Install== '0'">
        <!--插头-->
        <a class="stm003" title="1" wybredPosition="1" wybblackPosition="1" h_y="694" h_x="357" rqPosition="2211" h_href="m64" ></a>
        <a class="stm004" title="2" wybredPosition="1" wybblackPosition="1" h_y="669" h_x="368" rqPosition="2213" h_href="m64" ></a>

        <!--插座-->
        <a class="stm005" title="1" wybredPosition="1" wybblackPosition="1" h_y="623" h_x="296" rqPosition="4149" h_href="m64" ></a>
        <a class="stm006" title="2" wybredPosition="1" wybblackPosition="1" h_y="595" h_x="289" rqPosition="4150" h_href="m64" ></a>


    </div>
    <div ng-show="pageServicePint.In1Sen_M64_Conn_x_Install== '1'">
        <!--插头背部-->
        <a class="stm007" title="1" wybredPosition="2" wybblackPosition="2" h_y="665" h_x="374" rqPosition="2212" h_href="m64" ></a>
        <a class="stm008" title="2" wybredPosition="2" wybblackPosition="2" h_y="642" h_x="367" rqPosition="2214" h_href="m64" ></a>

    </div>
    <a class="stm009" title="3"  h_y="490" h_x="497" rqPosition="2215" h_href="m64" ></a>
</div>