<div class="fd-bg fd-q38">
    <div class="fd-zz" ng-click="backPage('engine',285,175)"></div>
    <div class="q38-head-install" ng-show="pageServicePint.In1Sen_Q38_Conn_x_Install=='1'"></div>
    <div class="th000" ng-show="pageServicePint.In1Sen_Q38_Conn_x_Install=='1'"
         ng-click="ctOpen('In1Sen_Q38_Conn_x_Install','2','q38')"></div>
    <div class="q38-head-out" ng-show="pageServicePint.In1Sen_Q38_Conn_x_Install=='0'"></div>
    <div class="th001" ng-show="pageServicePint.In1Sen_Q38_Conn_x_Install=='0'&&pageServicePdata.q38_tearDown"
         ng-click="ctClose('In1Sen_Q38_Conn_x_Install','1','q38')"></div>
    <!--更换零件-->
    <div class="q38-light" status="bj-q38" ng-show="!pageServicePdata.q38_tearDown"></div><!---->
    <div id="msg-q38" class="th002" sata="hexagonal-10mm" ng-click="showMsg('msg-q38','请选择六角10MM套筒')" ng-show="pageServicePint.In1Sen_Q38_Conn_x_Install== '0'&&pageServicePdata.q38_tearDown" title="节气门"></div>
    <div  class="th002 q38_install" ng-show="!pageServicePdata.q38_tearDown"></div>
    <!--更换线束-->
    <div id="bj-q38-line" class="q38-line-hot line" ng-show="pageServicePint.In1Sen_Q38_Conn_x_Install== '0'" ></div>
    <div class="q38-line" status="bj-q38-line"></div>
    <!--万用表交互热区-->
    <div ng-show="pageServicePint.In1Sen_Q38_Conn_x_Install== '0'">
        <!--插头-->
        <a class="th007" title="5" wybredPosition="1" wybblackPosition="1" h_y="473" h_x="446" rqPosition="2033"
           h_href="q38"></a>
        <a class="th006" title="4" wybredPosition="1" wybblackPosition="1" h_y="476" h_x="460" rqPosition="2031"
           h_href="q38"></a>
        <a class="th005" title="3" wybredPosition="1" wybblackPosition="1" h_y="481" h_x="472" rqPosition="2029"
           h_href="q38"></a>
        <a class="th004" title="2" wybredPosition="1" wybblackPosition="1" h_y="488" h_x="482" rqPosition="2027"
           h_href="q38"></a>
        <a class="th003" title="1" wybredPosition="1" wybblackPosition="1" h_y="493" h_x="498" rqPosition="2025"
           h_href="q38"></a>
        <!--插座-->
        <div ng-show="pageServicePdata.q38_tearDown">
            <a class="th008" title="5" wybredPosition="1" wybblackPosition="1" h_y="492" h_x="161" rqPosition="4114"
               h_href="q38"></a>
            <a class="th009" title="4" wybredPosition="1" wybblackPosition="1" h_y="490" h_x="170" rqPosition="4113"
               h_href="q38"></a>
            <a class="th0010" title="3" wybredPosition="1" wybblackPosition="1" h_y="485" h_x="180" rqPosition="4112"
               h_href="q38"></a>
            <a class="th0011" title="2" wybredPosition="1" wybblackPosition="1" h_y="482" h_x="189" rqPosition="4111"
               h_href="q38"></a>
            <a class="th0012" title="1" wybredPosition="1" wybblackPosition="1" h_y="480" h_x="199" rqPosition="4110"
               h_href="q38"></a>
        </div>
    </div>

    <div ng-show="pageServicePint.In1Sen_Q38_Conn_x_Install== '1'">
        <!--插头背部-->
        <a class="th0017" title="5" wybredPosition="2" wybblackPosition="2" h_y="502" h_x="232" rqPosition="2034"
           h_href="q38"></a>
        <a class="th0016" title="4" wybredPosition="2" wybblackPosition="2" h_y="494" h_x="240" rqPosition="2032"
           h_href="q38"></a>
        <a class="th0015" title="3" wybredPosition="2" wybblackPosition="2" h_y="488" h_x="255" rqPosition="2030"
           h_href="q38"></a>
        <a class="th0014" title="2" wybredPosition="2" wybblackPosition="2" h_y="485" h_x="270" rqPosition="2028"
           h_href="q38"></a>
        <a class="th0013" title="1" wybredPosition="2" wybblackPosition="2" h_y="480" h_x="276" rqPosition="2026"
           h_href="q38"></a>
    </div>
</div>