<div class="fd-bg fd-t8ct8d">
    <div class="fd-zz" ng-click="backPage('engine',500,260)"></div>

<!--点火线圈t8c开始-->
    <div class="t8c-body-install" ng-show="pageServicePint.In1Sen_T8C_Coil_Body_Install=='1'" ></div><!--t8c点火线圈安装状态-->
    <div class="t8c-body-ls-install" ng-show="!pageServicePdata.t8c_body_ls"></div><!--t8c点火线圈上安装的螺丝-->
    <div class="t8c-body-ls-out" ng-show="pageServicePdata.t8c_body_ls"></div><!--t8c点火线圈上拔出的螺丝-->
    <div id="msg-t8c" class="t8c-body-install-hot" title="t8c点火线圈" ng-show="pageServicePint.In1Sen_T8C_Coil_Body_Install=='1'&&pageServicePint.In1Sen_T8C_Coil_Conn_Install=='0'" sata="hexagonal-10mm" ng-click="showMsg('msg-t8c','请选择10MM套筒');"></div><!--t8c点火线圈安装状态下的点击热区-->
    <div class="t8c-body-zz" ng-show="pageServicePdata.t8c_body_zz"></div><!--t8c点火线圈拔出时页面的的遮挡-->
    <div class="t8c-body-out-process"></div><!--t8c点火线圈拔出过程-->

    <!--t8c点火线圈拔出后可拖动-->
    <div id="t8c" class="t8c-body-out" ng-show="pageServicePint.In1Sen_T8C_Coil_Body_Install=='0'&&pageServicePdata.t8c&&!pageServicePdata.t8c_test">
        <div class="t8c-body-out-hot" ng-show="pageServicePint.In1Sen_T8C_Coil_Body_Install=='0'&&pageServicePdata.onDrag&&pageServicePdata.gybwz!='3'" ng-click="dhxq_cs('.t8c')"></div>
        <div class="t8c-test" ng-show="!pageServicePdata.t8c_test&&pageServicePdata.onDrag"></div><!--点火测试仪热区-->
    </div>
    <div class="t8c-installHot" num="3" ng-show="pageServicePint.In1Sen_T8C_Coil_Body_Install=='0'&&!pageServicePdata.t8c&&pageServicePdata.gybwz!='3'"></div><!--从备件库或零件车拖出点火线圈放到t8c位置上的热区-->


    <div class="t8c-head-install" ng-show="pageServicePint.In1Sen_T8C_Coil_Conn_Install=='1'"></div><!--t8c点火线圈插头安装状态-->
    <div class="t8c-head-install-hot" ng-show="pageServicePint.In1Sen_T8C_Coil_Conn_Install=='1'" ng-click="ctOpen('In1Sen_T8C_Coil_Conn_Install','2','t8ct8d')"></div><!--t8c点火线圈插头安装状态下的点击热区-->
    <div class="t8c-head-out" ng-show="pageServicePint.In1Sen_T8C_Coil_Conn_Install=='0'&&!pageServicePdata.t8c_test"></div><!--t8c点火线圈插头拔下状态-->
    <div class="t8c-head-out-hot" ng-show="pageServicePint.In1Sen_T8C_Coil_Conn_Install=='0'&&pageServicePint.In1Sen_T8C_Coil_Body_Install=='1'&&!pageServicePdata.t8c_test" ng-click="ctClose('In1Sen_T8C_Coil_Conn_Install','1','t8ct8d')"></div><!--t8c点火线圈插头拔下状态下的点击热区-->

    <!--t8c更换线束-->
    <div id="bj-t8c-line" class="t8c-line-hot line" ng-show="pageServicePint.In1Sen_T8C_Coil_Conn_Install== '0'" ></div>
    <div class="t8c-line" status="bj-t8c-line"></div>

    <!--t8c火花塞-->
    <div class="t8c-hhs-install" ng-show="pageServicePint.In1Sen_T8C_SpPlug_Body_Install=='1'"></div><!--t8c火花塞安装状态-->
    <div id="msg-t8c-hhs" class="t8c-hhs-install-hot" title="t8c火花塞" ng-show="pageServicePint.In1Sen_T8C_SpPlug_Body_Install=='1'&&pageServicePint.In1Sen_T8C_Coil_Body_Install=='0'" ng-click="showMsg('msg-t8a-hhs','请选择火花塞套筒')"></div><!--t8c火花塞安装状态下的点击热区-->
    <div class="t8c-hhs-out-process"><img src="images/sbt_engine/dhxq/hhs_out.png" width="80"/></div><!--t8c火花塞拔出过程-->
    <!--t8c火花塞拔出后-->
    <div id="t8c_hhs" class="t8c-hhs-out" ng-show="pageServicePint.In1Sen_T8C_SpPlug_Body_Install=='0'&&pageServicePdata.t8c_hhs">
        <img src="images/sbt_engine/dhxq/hhs_out.png" width="80"/>
        <div class="t8c-hhs-out-hot" ng-show="pageServicePint.In1Sen_T8C_Coil_Body_Install=='0'&&pageServicePint.In1Sen_T8C_SpPlug_Body_Install=='0'&&pageServicePdata.onDrag&&pageServicePdata.gybwz!='3'" ng-click="hhs_cs('t8c')"></div><!--t8c火花塞拔出状态下的点击热区-->
    </div>
    <div class="t8cHhs-installHot" num="3" ng-show="pageServicePint.In1Sen_T8C_Coil_Body_Install=='0'&&pageServicePint.In1Sen_T8C_SpPlug_Body_Install=='0'&&!pageServicePdata.t8c_hhs"></div><!--从备件库或零件车拖出火花塞放到t8c火花塞位置上的热区-->
    <div class="test-t8c" ng-show="pageServicePdata.t8c_test">
        <div class="fire1" ng-show="ignltionTestDeviceServiceOout.Out1Eng_SpPlugTest_Norm_x =='1'"></div>
        <div  class="coe4" ng-click="testHide('t8c');"></div>
    </div>
<!--点火测试仪-->



    <!--缸压表在t8c缸的安装热区-->
    <div class="t8c-gangYaBiao-hot" ng-show="pageServicePint.In1Sen_T8C_Coil_Body_Install=='0'&&pageServicePint.In1Sen_T8C_SpPlug_Body_Install=='0'"></div>
    <div class="t8c-gangYaBiao" ng-show="pageServicePdata.gybwz=='3'">
        <div class="gangYaBiao-pointer" ng-show="cylpressguageServiceOdata.gybzz=='0'"></div>
        <div class="coe" ng-click="closeGYB('.t8c-gangYaBiao');"></div>
        <div class="gangYaBiao-pointer2" ng-show="cylpressguageServiceOdata.gybzz=='1'"></div>
    </div>

    <!--点火线圈t8c插头打开和本体热区-->
    <div ng-show="pageServicePint.In1Sen_T8C_Coil_Conn_Install== '0'">
        <a class="ig303" title="1" wybredPosition="1" wybblackPosition="1" h_x="321" h_y="179" rqPosition="57" h_href="t8ct8d" ></a>
        <a class="ig304" title="2" wybredPosition="1" wybblackPosition="1" h_x="341" h_y="173" rqPosition="59" h_href="t8ct8d" ></a>
        <a class="ig305" title="3" wybredPosition="1" wybblackPosition="1" h_x="361" h_y="167" rqPosition="61" h_href="t8ct8d" ></a>
        <a class="ig306" title="4" wybredPosition="1" wybblackPosition="1" h_x="381" h_y="161" rqPosition="63" h_href="t8ct8d" ></a>

        <a class="ig307" title="1" wybredPosition="1" wybblackPosition="1" h_x="178" h_y="125" rqPosition="4045" h_href="t8ct8d" ></a>
        <a class="ig308" title="2" wybredPosition="1" wybblackPosition="1" h_x="197" h_y="125" rqPosition="4046" h_href="t8ct8d" ></a>
        <a class="ig309" title="3" wybredPosition="1" wybblackPosition="1" h_x="220" h_y="123" rqPosition="4047" h_href="t8ct8d" ></a>
        <a class="ig310" title="4" wybredPosition="1" wybblackPosition="1" h_x="240" h_y="119" rqPosition="4048" h_href="t8ct8d" ></a>
    </div>
    <!--点火线圈t8c插头背部热区-->
    <div ng-show="pageServicePint.In1Sen_T8C_Coil_Conn_Install== '1'">
        <a class="ig311" title="1" wybredPosition="2" wybblackPosition="2" h_x="158" h_y="97" rqPosition="58" h_href="t8ct8d" ></a>
        <a class="ig312" title="2" wybredPosition="2" wybblackPosition="2" h_x="180" h_y="97" rqPosition="60" h_href="t8ct8d" ></a>
        <a class="ig313" title="3" wybredPosition="2" wybblackPosition="2" h_x="199" h_y="96" rqPosition="62" h_href="t8ct8d" ></a>
        <a class="ig314" title="4" wybredPosition="2" wybblackPosition="2" h_x="218" h_y="94" rqPosition="64" h_href="t8ct8d" ></a>
    </div>
<!--点火线圈t8c结束-->



<!--点火线圈t8d开始-->
    <div class="t8d-body-install" ng-show="pageServicePint.In1Sen_T8D_Coil_Body_Install=='1'" ></div><!--t8d点火线圈安装状态-->
    <div class="t8d-body-ls-install" ng-show="!pageServicePdata.t8d_body_ls"></div><!--t8d点火线圈上安装的螺丝-->
    <div class="t8d-body-ls-out" ng-show="pageServicePdata.t8d_body_ls"></div><!--t8d点火线圈上拔出的螺丝-->
    <div id="msg-t8d" class="t8d-body-install-hot" title="t8d点火线圈" ng-show="pageServicePint.In1Sen_T8D_Coil_Body_Install=='1'&&pageServicePint.In1Sen_T8D_Coil_Conn_Install=='0'" sata="hexagonal-10mm" ng-click="showMsg('msg-t8d','请选择10MM套筒');"></div><!--t8d点火线圈安装状态下的点击热区-->
    <div class="t8d-body-zz" ng-show="pageServicePdata.t8d_body_zz"></div><!--t8d点火线圈拔出时页面的的遮挡-->
    <div class="t8d-body-out-process"></div><!--t8d点火线圈拔出过程-->

    <!--t8d点火线圈拔出后可拖动-->
    <div id="t8d" class="t8d-body-out" ng-show="pageServicePint.In1Sen_T8D_Coil_Body_Install=='0'&&pageServicePdata.t8d&&!pageServicePdata.t8d_test">
        <div class="t8d-body-out-hot" ng-show="pageServicePint.In1Sen_T8D_Coil_Body_Install=='0'&&pageServicePdata.onDrag&&pageServicePdata.gybwz!='4'" ng-click="dhxq_cs('.t8d')"></div>
        <div class="t8d-test" ng-show="!pageServicePdata.t8d_test&&pageServicePdata.onDrag"></div><!--点火测试仪热区-->
    </div>
    <div class="t8d-installHot" num="4" ng-show="pageServicePint.In1Sen_T8D_Coil_Body_Install=='0'&&!pageServicePdata.t8d&&pageServicePdata.gybwz!='4'"></div><!--从备件库或零件车拖出点火线圈放到t8d位置上的热区-->

    <div class="t8d-head-install" ng-show="pageServicePint.In1Sen_T8D_Coil_Conn_Install=='1'"></div><!--t8d点火线圈插头安装状态-->
    <div class="t8d-head-install-hot" ng-show="pageServicePint.In1Sen_T8D_Coil_Conn_Install=='1'" ng-click="ctOpen('In1Sen_T8D_Coil_Conn_Install','4','t8ct8d')"></div><!--t8d点火线圈插头安装状态下的点击热区-->
    <div class="t8d-head-out" ng-show="pageServicePint.In1Sen_T8D_Coil_Conn_Install=='0'&&!pageServicePdata.t8d_test"></div><!--t8d点火线圈插头拔下状态-->
    <div class="t8d-head-out-hot" ng-show="pageServicePint.In1Sen_T8D_Coil_Conn_Install=='0'&&pageServicePint.In1Sen_T8D_Coil_Body_Install=='1'&&!pageServicePdata.t8d_test" ng-click="ctClose('In1Sen_T8D_Coil_Conn_Install','3','t8ct8d')"></div><!--t8d点火线圈插头拔下状态下的点击热区-->

    <!--t8d更换线束-->
    <div id="bj-t8d-line" class="t8d-line-hot line" ng-show="pageServicePint.In1Sen_T8D_Coil_Conn_Install== '0'" ></div>
    <div class="t8d-line" status="bj-t8d-line"></div>

    <!--t8d火花塞-->
    <div class="t8d-hhs-install" ng-show="pageServicePint.In1Sen_T8D_SpPlug_Body_Install=='1'"></div><!--t8d火花塞安装状态-->
    <div id="msg-t8d-hhs" class="t8d-hhs-install-hot" title="t8d火花塞" ng-show="pageServicePint.In1Sen_T8D_SpPlug_Body_Install=='1'&&pageServicePint.In1Sen_T8D_Coil_Body_Install=='0'" ng-click="showMsg('msg-t8d-hhs','请选择火花塞套筒')"></div><!--t8d火花塞安装状态下的点击热区-->
    <div class="t8d-hhs-out-process"><img src="images/sbt_engine/dhxq/hhs_out.png" width="80"/></div><!--t8d火花塞拔出过程-->
    <!--t8d火花塞拔出后-->
    <div id="t8d_hhs" class="t8d-hhs-out" ng-show="pageServicePint.In1Sen_T8D_SpPlug_Body_Install=='0'&&pageServicePdata.t8d_hhs">
        <img src="images/sbt_engine/dhxq/hhs_out.png" width="80"/>
        <div class="t8d-hhs-out-hot" ng-show="pageServicePint.In1Sen_T8D_Coil_Body_Install=='0'&&pageServicePint.In1Sen_T8D_SpPlug_Body_Install=='0'&&pageServicePdata.onDrag&&pageServicePdata.gybwz!='4'" ng-click="hhs_cs('t8d')"></div><!--t8d火花塞拔出状态下的点击热区-->
    </div>
    <div class="t8dHhs-installHot" num="4" ng-show="pageServicePint.In1Sen_T8D_Coil_Body_Install=='0'&&pageServicePint.In1Sen_T8D_SpPlug_Body_Install=='0'&&!pageServicePdata.t8d_hhs&&pageServicePdata.gybwz!='4'"></div><!--从备件库或零件车拖出火花塞放到t8d火花塞位置上的热区-->
    <div class="test-t8d" ng-show="pageServicePdata.t8d_test">
        <div class="fire2" ng-show="ignltionTestDeviceServiceOout.Out1Eng_SpPlugTest_Norm_x =='1'"></div>
        <div  class="coe5" ng-click="testHide('t8d');"></div>
    </div><!--点火测试仪-->
    <!--缸压表在t8d缸的安装热区-->
    <div class="t8d-gangYaBiao-hot" ng-show="pageServicePint.In1Sen_T8D_Coil_Body_Install=='0'&&pageServicePint.In1Sen_T8D_SpPlug_Body_Install=='0'"></div>
    <div class="t8d-gangYaBiao" ng-show="pageServicePdata.gybwz == '4'">
        <div class="gangYaBiao-pointer" ng-show="cylpressguageServiceOdata.gybzz=='0'"></div>
        <div class="coe" ng-click="closeGYB('.t8d-gangYaBiao');"></div>
        <div class="gangYaBiao-pointer2" ng-show="cylpressguageServiceOdata.gybzz=='1'"></div>
    </div>

    <!--点火线圈t8d插头打开和本体热区-->
    <div ng-show="pageServicePint.In1Sen_T8D_Coil_Conn_Install== '0'">
        <a class="ig403" title="1" wybredPosition="3" wybblackPosition="3" h_x="315" h_y="563" rqPosition="65" h_href="t8ct8d" ></a>
        <a class="ig404" title="2" wybredPosition="3" wybblackPosition="3" h_x="334" h_y="557" rqPosition="67" h_href="t8ct8d" ></a>
        <a class="ig405" title="3" wybredPosition="3" wybblackPosition="3" h_x="357" h_y="552" rqPosition="69" h_href="t8ct8d" ></a>
        <a class="ig406" title="4" wybredPosition="3" wybblackPosition="3" h_x="377" h_y="547" rqPosition="71" h_href="t8ct8d" ></a>

        <a class="ig407" title="1" wybredPosition="3" wybblackPosition="3" h_x="186" h_y="544" rqPosition="4049" h_href="t8ct8d" ></a>
        <a class="ig408" title="2" wybredPosition="3" wybblackPosition="3" h_x="204" h_y="545" rqPosition="4050" h_href="t8ct8d" ></a>
        <a class="ig409" title="3" wybredPosition="3" wybblackPosition="3" h_x="223" h_y="545" rqPosition="4051" h_href="t8ct8d" ></a>
        <a class="ig410" title="4" wybredPosition="3" wybblackPosition="3" h_x="245" h_y="546" rqPosition="4052" h_href="t8ct8d" ></a>
    </div>
    <!--点火线圈t8d插头背部热区-->
    <div ng-show="pageServicePint.In1Sen_T8D_Coil_Conn_Install== '1'">
        <a class="ig411" title="1" wybredPosition="4" wybblackPosition="4" h_x="165" h_y="517" rqPosition="66" h_href="t8ct8d" ></a>
        <a class="ig412" title="2" wybredPosition="4" wybblackPosition="4" h_x="186" h_y="518" rqPosition="68" h_href="t8ct8d" ></a>
        <a class="ig413" title="3" wybredPosition="4" wybblackPosition="4" h_x="201" h_y="518" rqPosition="70" h_href="t8ct8d" ></a>
        <a class="ig414" title="4" wybredPosition="4" wybblackPosition="4" h_x="220" h_y="517" rqPosition="72" h_href="t8ct8d" ></a>
    </div>
<!--点火线圈t8d结束-->

</div>
