<div class="fd-bg fd-x3">
        <div class="fd-zz" ng-click="backPage('k20')"></div>
        <!--万用表交互热区-->
        <a class="ec134" title="34" wybredPosition="1" wybblackPosition="1" h_y="542" h_x="389" rqPosition="109" h_href="x1" ></a>

        <a class="ec146" title="46" wybredPosition="1" wybblackPosition="1" h_y="359" h_x="292" rqPosition="133" h_href="x1" ></a>
        <a class="ec148" title="48" wybredPosition="1" wybblackPosition="1" h_y="329" h_x="277" rqPosition="119" h_href="x1" ></a>
        <a class="ec160" title="60" wybredPosition="1" wybblackPosition="1" h_y="443" h_x="357" rqPosition="105" h_href="x1" ></a>


        <a class="ec164" title="64" wybredPosition="1" wybblackPosition="1" h_y="383" h_x="324" rqPosition="1035" h_href="x1" ></a>

</div>