<div class="fd-bg fd-x160">
    <div class="fd-zz" ng-click="backPage('engine',600,220)"></div>
    <div class="x160-head-install" ng-show="pageServicePint.In1Sen_X160_Conn_x_Install=='1'" title="喷油器"></div>
    <div class="if001" ng-show="pageServicePint.In1Sen_X160_Conn_x_Install=='1'" ng-click="ctOpen('In1Sen_X160_Conn_x_Install','2','x160')"></div>
    <div class="x160-head-out" ng-show="pageServicePint.In1Sen_X160_Conn_x_Install=='0'"></div>
    <div class="if002" ng-show="pageServicePint.In1Sen_X160_Conn_x_Install=='0'" ng-click="ctClose('In1Sen_X160_Conn_x_Install','1','x160')"></div>

    <!--更换线束-->
    <div id="bj-x160-line" class="x160-line-hot line" ng-show="pageServicePint.In1Sen_X160_Conn_x_Install== '0'" ></div>
    <div class="x160-line" status="bj-x160-line"></div>
<!--万用表交互热区-->
    <div ng-show="pageServicePint.In1Sen_X160_Conn_x_Install== '0'">
        <!--公插头-->
        <a class="if003" title="1" wybredPosition="1" wybblackPosition="1" h_y="538" h_x="453" rqPosition="4136" h_href="x160" ></a>
        <a class="if004" title="2" wybredPosition="1" wybblackPosition="1" h_y="540" h_x="473" rqPosition="4130" h_href="x160" ></a>
        <a class="if005" title="3" wybredPosition="1" wybblackPosition="1" h_y="541" h_x="487" rqPosition="4131" h_href="x160" ></a>
        <a class="if006" title="4" wybredPosition="1" wybblackPosition="1" h_y="542" h_x="510" rqPosition="4132" h_href="x160" ></a>
        <a class="if007" title="5" wybredPosition="1" wybblackPosition="1" h_y="542" h_x="524" rqPosition="4133" h_href="x160" ></a>
        <!--<a class="if008" title="6" wybredPosition="1" wybblackPosition="1" h_y="577" h_x="254"  h_href="x160" ></a>-->
        <a class="if009" title="7" wybredPosition="1" wybblackPosition="1" h_y="510" h_x="456" rqPosition="4137" h_href="x160" ></a>
        <a class="if010" title="8" wybredPosition="1" wybblackPosition="1" h_y="512" h_x="472" rqPosition="4143" h_href="x160" ></a>
        <a class="if011" title="9" wybredPosition="1" wybblackPosition="1" h_y="513" h_x="488" rqPosition="4134" h_href="x160" ></a>
        <a class="if012" title="10" wybredPosition="1" wybblackPosition="1" h_y="513" h_x="504" rqPosition="4135" h_href="x160" ></a>
        <a class="if013" title="11" wybredPosition="1" wybblackPosition="1" h_y="514" h_x="525" rqPosition="4141" h_href="x160" ></a>
        <a class="if014" title="12" wybredPosition="1" wybblackPosition="1" h_y="514" h_x="540" rqPosition="4142" h_href="x160" ></a>
        <!--线束插插头 母插头-->
        <a class="if015" title="1" wybredPosition="1" wybblackPosition="1" h_y="555" h_x="299" rqPosition="2153" h_href="x160" ></a>
        <a class="if016" title="2" wybredPosition="1" wybblackPosition="1" h_y="552" h_x="294" rqPosition="2129" h_href="x160" ></a>
        <a class="if017" title="3" wybredPosition="1" wybblackPosition="1" h_y="549" h_x="282" rqPosition="2131" h_href="x160" ></a>
        <a class="if018" title="4" wybredPosition="1" wybblackPosition="1" h_y="545" h_x="277" rqPosition="2137" h_href="x160" ></a>
        <a class="if019" title="5" wybredPosition="1" wybblackPosition="1" h_y="543" h_x="270" rqPosition="2139" h_href="x160" ></a>
        <!--<a class="if020" title="6" wybredPosition="1" wybblackPosition="1" h_y="577" h_x="254" h_href="x160" ></a>-->
        <a class="if021" title="7" wybredPosition="1" wybblackPosition="1" h_y="529" h_x="304" rqPosition="2155" h_href="x160" ></a>
        <a class="if022" title="8" wybredPosition="1" wybblackPosition="1" h_y="526" h_x="296" rqPosition="2171" h_href="x160" ></a>
        <a class="if023" title="9" wybredPosition="1" wybblackPosition="1" h_y="522" h_x="284" rqPosition="2145" h_href="x160" ></a>
        <a class="if024" title="10" wybredPosition="1" wybblackPosition="1" h_y="519" h_x="275" rqPosition="2147" h_href="x160" ></a>
        <a class="if025" title="11" wybredPosition="1" wybblackPosition="1" h_y="517" h_x="266" rqPosition="2167" h_href="x160" ></a>
        <a class="if026" title="12" wybredPosition="1" wybblackPosition="1" h_y="514" h_x="260" rqPosition="2169" h_href="x160" ></a>

    </div>
</div>