<div class="fd-bg fd-x2">
    <div class="fd-zz" ng-click="backPage('k20')"></div>
    <!--万用表交互热区-->
    <a class="ec205" title="5" wybredPosition="1" wybblackPosition="1" h_y="611" h_x="343" rqPosition="159" h_href="x2" ></a>
    <a class="ec206" title="6" wybredPosition="1" wybblackPosition="1" h_y="596" h_x="330" rqPosition="2087" h_href="x2" ></a>
    <a class="ec207" title="7" wybredPosition="1" wybblackPosition="1" h_y="578" h_x="319" rqPosition="2075" h_href="x2" ></a>
    <a class="ec209" title="9" wybredPosition="1" wybblackPosition="1" h_y="542" h_x="300" rqPosition="2177" h_href="x2" ></a>
    <a class="ec212" title="12" wybredPosition="1" wybblackPosition="1" h_y="491" h_x="269" rqPosition="2043" h_href="x2" ></a>
    <a class="ec213" title="13" wybredPosition="1" wybblackPosition="1" h_y="473" h_x="261" rqPosition="2039" h_href="x2" ></a>
    <a class="ec221" title="21" wybredPosition="1" wybblackPosition="1" h_y="601" h_x="357" rqPosition="161" h_href="x2" ></a>
    <a class="ec222" title="22" wybredPosition="1" wybblackPosition="1" h_y="585" h_x="349" rqPosition="2089" h_href="x2" ></a>
    <a class="ec223" title="23" wybredPosition="1" wybblackPosition="1" h_y="568" h_x="337" rqPosition="2077" h_href="x2" ></a>
    <a class="ec225" title="25" wybredPosition="1" wybblackPosition="1" h_y="533" h_x="317" rqPosition="2173" h_href="x2" ></a>
    <a class="ec226" title="26" wybredPosition="1" wybblackPosition="1" h_y="515" h_x="308" rqPosition="2175" h_href="x2" ></a>
    <a class="ec228" title="28" wybredPosition="1" wybblackPosition="1" h_y="483" h_x="287" rqPosition="2041" h_href="x2" ></a>
    <a class="ec233" title="33" wybredPosition="1" wybblackPosition="1" h_y="646 " h_x="440" rqPosition="189" h_href="x2" ></a>

    <a class="ec234" title="34" wybredPosition="1" wybblackPosition="1" h_y="629" h_x="431" rqPosition="149" h_href="x2" ></a>

    <a class="ec236" title="36" wybredPosition="1" wybblackPosition="1" h_y="594" h_x="410" rqPosition="2119" h_href="x2" ></a>
    <a class="ec237" title="37" wybredPosition="1" wybblackPosition="1" h_y="576" h_x="402" rqPosition="2111" h_href="x2" ></a>
    <a class="ec238" title="38" wybredPosition="1" wybblackPosition="1" h_y="561" h_x="394" rqPosition="2091" h_href="x2" ></a>
    <a class="ec239" title="39" wybredPosition="1" wybblackPosition="1" h_y="541" h_x="385" rqPosition="2079" h_href="x2" ></a>
    <a class="ec243" title="43" wybredPosition="1" wybblackPosition="1" h_y="474" h_x="343" rqPosition="117" h_href="x2" ></a>
    <a class="ec244" title="44" wybredPosition="1" wybblackPosition="1" h_y="455" h_x="334" rqPosition="73" h_href="x2" ></a>
    <a class="ec245" title="45" wybredPosition="1" wybblackPosition="1" h_y="440" h_x="321" rqPosition="81" h_href="x2" ></a>
    <a class="ec246" title="46" wybredPosition="1" wybblackPosition="1" h_y="421" h_x="310" rqPosition="77" h_href="x2" ></a>
    <a class="ec248" title="48" wybredPosition="1" wybblackPosition="1" h_y="387" h_x="294" rqPosition="2141" h_href="x2" ></a>
    <a class="ec249" title="49" wybredPosition="1" wybblackPosition="1" h_y="369" h_x="282" rqPosition="2157" h_href="x2" ></a>
    <a class="ec250" title="50" wybredPosition="1" wybblackPosition="1" h_y="348" h_x="272" rqPosition="2149" h_href="x2" ></a>
    <a class="ec251" title="51" wybredPosition="1" wybblackPosition="1" h_y="336" h_x="263" rqPosition="2133" h_href="x2" ></a>
    <a class="ec252" title="52" wybredPosition="1" wybblackPosition="1" h_y="316" h_x="252" rqPosition="2035" h_href="x2" ></a>
    <a class="ec253" title="53" wybredPosition="1" wybblackPosition="1" h_y="635" h_x="458" rqPosition="191" h_href="x2" ></a>

    <a class="ec254" title="54" wybredPosition="1" wybblackPosition="1" h_y="619" h_x="448" rqPosition="151" h_href="x2" ></a>

    <a class="ec256" title="56" wybredPosition="1" wybblackPosition="1" h_y="583" h_x="430" rqPosition="2117" h_href="x2" ></a>
    <a class="ec261" title="61" wybredPosition="1" wybblackPosition="1" h_y="498" h_x="376" rqPosition="185" h_href="x2" ></a>
    <a class="ec257" title="57" wybredPosition="1" wybblackPosition="1" h_y="567" h_x="417" rqPosition="2109" h_href="x2" ></a>
    <a class="ec260" title="60" wybredPosition="1" wybblackPosition="1" h_y="516" h_x="388" rqPosition="145" h_href="x2" ></a>
    <a class="ec265" title="65" wybredPosition="1" wybblackPosition="1" h_y="430" h_x="337" rqPosition="79" h_href="x2" ></a>
    <a class="ec266" title="66" wybredPosition="1" wybblackPosition="1" h_y="410" h_x="329" rqPosition="83" h_href="x2" ></a>
    <a class="ec268" title="68" wybredPosition="1" wybblackPosition="1" h_y="378" h_x="309" rqPosition="2143" h_href="x2" ></a>
    <a class="ec269" title="69" wybredPosition="1" wybblackPosition="1" h_y="362" h_x="300" rqPosition="2159" h_href="x2" ></a>
    <a class="ec270" title="70" wybredPosition="1" wybblackPosition="1" h_y="339" h_x="287" rqPosition="2151" h_href="x2" ></a>
    <a class="ec271" title="71" wybredPosition="1" wybblackPosition="1" h_y="323" h_x="280" rqPosition="2135" h_href="x2" ></a>
    <a class="ec272" title="72" wybredPosition="1" wybblackPosition="1" h_y="305" h_x="267" rqPosition="2037" h_href="x2" ></a>

</div>