<div class="fd-bg fd-x1">
    <div class="fd-zz" ng-click="backPage('k20')"></div>
    <!--万用表交互热区-->
        <a class="ec302" title="2" wybredPosition="1" wybblackPosition="1" h_y="608" h_x="330" rqPosition="111" h_href="x3" ></a>
        <a class="ec303" title="3" wybredPosition="1" wybblackPosition="1" h_y="589" h_x="325" rqPosition="207" h_href="x3" ></a>
        <a class="ec304" title="4" wybredPosition="1" wybblackPosition="1" h_y="569" h_x="320" rqPosition="199" h_href="x3" ></a>
        <a class="ec314" title="14" wybredPosition="1" wybblackPosition="1" h_y="372" h_x="261" rqPosition="107" h_href="x3" ></a>
        <a class="ec340" title="40" wybredPosition="1" wybblackPosition="1" h_y="471" h_x="367" rqPosition="163" h_href="x3" ></a>
        <a class="ec346" title="46" wybredPosition="1" wybblackPosition="1" h_y="354" h_x="335" rqPosition="115" h_href="x3" ></a>
</div>