<div class="diodelamp" ng-controller="diodelampCtrl" ng-show="diodelampServiceOdata.diodelampStatus">
    <div id="diodelamp-line" class="diodelamp-pen" ng-show="diodelampServiceOdata.diodelamp_pen">
        <div class="coe" ng-click="diodelampServiceOdata.diodelampHide();"></div>
        <div class="diodelamp-lamp">
            <img id="diodelamp-lamp01" src="framework/diodelamp/images/diodelamp_lamp_01.png" ng-show="diodelampServiceOout.Out1TestPS_x_Brightness_x_x == '1'"/>
            <img id="diodelamp-lamp02" src="framework/diodelamp/images/diodelamp_lamp_02.png" ng-show="diodelampServiceOout.Out1TestPS_x_Brightness_x_x == '2'"/>
        </div>
        <div class="diodelamp-tishi"></div>
    </div>
    <div id="diodelamp_needle_hot" class="diodelamp_needle_hot ui-draggable"></div>
</div>
