/*公共样式*/
*{
	margin: 0;
	padding: 0;
}
div,p,h1,h2,a,span{
	font-family: Arial;
	font-weight: bold;
}
/*从上向下样式*/
header{
	padding-top: 16px;
}
h1{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

/*游戏画板*/
#gamePanel{
	width: 500px;
	margin: 0 auto;
	position: relative;
}

#gamePanel p{
	padding: 8px;/*上右下左 8像素*/
}

.button{
 display:inline-block;
 padding: 10px;/*上右下左 10像素*/
 background: #9F8B77;
 border-radius: 6px;
 color:#FFF;
 cursor: pointer; 
}

/*定义网格*/
#gridPanel{
	width: 480px;
	height: 480px;
	background: #BBADA0;
	border-radius: 10px;
	padding: 20px 0 0 20px;
	position: relative;
}

/*16背景格,数字格相同大小*/
.grid,.cell{
	width: 100px;
	height: 100px;
	border-radius: 6px;
}
#gamePanel .grid{
	background-color: #ccc0b3;
	float: left;
	margin: 0 20px 20px 0;
}
/*数字格*/
.cell{
	position: absolute;
	line-height: 100px;
	vertical-align: middle;
	text-align: center;
    font-size: 60px;
    color:#776e65;
}
/*每行有相同的top*/
#c00,#c01,#c02,#c03{top:20px;}
#c10,#c11,#c12,#c13{top:140px;}
#c20,#c21,#c22,#c23{top:260px;}
#c30,#c31,#c32,#c33{top:380px;}
/*每列有相同的left*/
#c00,#c10,#c20,#c30{left:20px;}
#c01,#c11,#c21,#c31{left:140px;}
#c02,#c12,#c22,#c32{left:260px;}
#c03,#c13,#c23,#c33{left:380px;}
.n2{background-color:#eee4da;}
.n4{background-color:#ede0c8;}
.n8{background-color:#f2b179;}
.n16{background-color:#f59563;}
.n32{background-color:#f67c5f;}
.n64{background-color:#f65e3b;}
.n128{background-color:#edcf72;}
.n256{background-color:#edcc61;}
.n512{background-color:#9c0;}
.n1024{background-color:#33b5e5;}
.n2048{background-color:#09c;}
.n4096{background-color:#a6c;}
.n8192{background-color:#93c;}
.n8,.n16,.n32,.n64,.n128,.n256,.n512,.n1024,.n2048,.n4096,.n8196{color:#fff;}
.n1024,.n2048,.n4096,.n8196{font-size:40px;}
		
/*gameover*/
#gameOver{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
}
#gameOver div{
	width: 100%;
	height: 100%;
	background: #555;
	opacity: 0.5;
}
#gameOver p{
	position: absolute;
	top:250px;
	left:805px;
	border-radius: 10px;
	width: 300px;
	height: 152px;
	border: 1px solid #edcf72;
	background: #fff;
	line-height: 1.4em;
	font-size: 30px;
	color:#000;
	text-align: center;
}