
.sparkplugsocket{
	z-index: 31;
	position: absolute;
	top: 235px;
	left: 420px;
	width: 224px;
	height: 72px;
	background: url(../images/sparkPlugSocket.png) no-repeat 0 0;
}

.coe{ width:44px;
	height:44px;
	text-align:right;
	position:absolute;
	top: 0px;
	left: 179px;
	font-size:18px;
	color:#fff;
	cursor:pointer;
	z-index: 1112;
	background: url(../images/close.png) no-repeat center center;
}

.sparkplug-hot{
	width: 224px;
	height: 72px;
	position: absolute;
	top:0;
	left:0;
	background: url("../images/sparkPlugSocket_hot.png")no-repeat;
}