
.ignltionTestDevice{
	z-index: 31;
	position: absolute;
	top: 66px;
	left: 678px;
	width: 148px;
	height: 195px;
	background: url(../images/ignltionTestDevice.png) no-repeat 0 0;
}

.coe3{ width:44px;
	 height:44px;
	 text-align:right;
	 position:absolute;
	 top: 0px;
	 left: 125px;
	 font-size:18px;
	 color:#fff;
	 cursor:pointer;
	 z-index: 1112;
	 background: url(../images/close.png) no-repeat center center;
 }
.coe4{
	 width:44px;
	 height:44px;
	 text-align:right;
	 position:absolute;
	 top: 65px;
	 left: 764px;
	 font-size:18px;
	 color:#fff;
	 cursor:pointer;
	 z-index: 1112;
	 background: url(../images/close.png) no-repeat center center;
 }
.coe5{
	width:44px;
	height:44px;
	text-align:right;
	position:absolute;
	top: 0;
	left: 30px;
	font-size:18px;
	color:#fff;
	cursor:pointer;
	z-index: 1112;
	background: url(../images/close.png) no-repeat center center;
}
.fire1{
	 width: 38px;
	 height: 28px;
	 position: absolute;
	 top: 122px;
	 left:770px;
	 background: url("../images/fire.png");
	 z-index: 9;
 }
.fire2{
	width: 38px;
	height: 28px;
	position: absolute;
	top: 149px;
	left:-8px;
	background: url("../images/fire.png");
	z-index: 9;
}
.fire4{
	width: 38px;
	height: 28px;
	position: absolute;
	top: 122px;
	left:788px;
	background: url("../images/fire.png");
	z-index: 9;
}
.test-t8a{
	position: absolute;
	top: 13px;
	left:15px;
	width: 818px;
	height: 396px;
	background: url("../images/t8a_test.png");
	z-index: 13;
}
.test-t8b{
	position: absolute;
	top: 212px;
	left:200px;
	width: 832px;
	height: 317px;
	background: url("../images/t8b_test.png");
	z-index: 13;
}
.test-t8c{
	position: absolute;
	top: 42px;
	left:11px;
	width: 801px;
	height: 352px;
	background: url("../images/t8c_test.png");
	z-index: 13;
}
.test-t8d{
	position: absolute;
	top: 206px;
	left:200px;
	width: 820px;
	height: 319px;
	background: url("../images/t8d_test.png");
	z-index: 13;
}
.ignltion-hot{
	position: absolute;
	top:0;
	left:0;
	width: 148px;
	height: 195px;
	background: url(../images/ignltionTestDevice_hot.png) no-repeat;
}