<div class="s79d" ng-controller="switchCtrl" ng-show="switchServiceOdata.s79dStatus">

    <div class="s79d-body ">

        <div class="s79d-head s79d-head1" ng-class="{'s79d-head1u':switchServiceOdata.up1,'s79d-head1d':switchServiceOdata.down1}"></div>
        <div class="s79d-head s79d-head2" ng-class="{'s79d-head2u':switchServiceOdata.up2,'s79d-head2d':switchServiceOdata.down2}"></div>
        <div class="s79d-head s79d-head3" ng-class="{'s79d-head3u':switchServiceOdata.up3,'s79d-head3d':switchServiceOdata.down3}"></div>
        <div class="s79d-head s79d-head4" ng-class="{'s79d-head4u':switchServiceOdata.up4,'s79d-head4d':switchServiceOdata.down4}"></div>
    </div>
    <ul class="s79d-states">
        <li ng-class="{'s79d-state1':pageServicePint.In1Veh_S79D_SwitchRise_x_x=='0','s79d-state1-s':pageServicePint.In1Veh_S79D_SwitchRise_x_x=='1'}" ng-click="pageServicePint.In1Veh_S79D_SwitchRise_x_x='1';pageServicePint.In1Veh_S79D_SwitchDescend_x_x='0'"></li>
        <li ng-class="{'s79d-state2':pageServicePint.In1Veh_S79D_SwitchDescend_x_x=='0','s79d-state2-s':pageServicePint.In1Veh_S79D_SwitchDescend_x_x=='1'}" ng-click="pageServicePint.In1Veh_S79D_SwitchRise_x_x='0';pageServicePint.In1Veh_S79D_SwitchDescend_x_x='1'"></li>
    </ul>
    <div  class="coe17" ng-click="switchHide('s79d')"></div>
</div>