.sceneSimulation{
    position: absolute;
    top: 0;
    right: 0;
    width: 302px;
    height: 302px;
    background: gray;
    opacity: 0.5;
    z-index: 100;
}
.ani-trunk{
    position: absolute;
    top: 0;
    left: 0;
    width:298px ;
    height: 258px;
    background: url("../images/animation/trunk/trunk_bg.png");
}
.ani-trunk-cap1{
    position: absolute;
    top: 0;
    left: 0;
    width:279px ;
    height: 89px;
    background: url("../images/animation/trunk/trunk_1.png");
}
.ani-trunk-cap2{
    position: absolute;
    top: 0;
    left: 0;
    width:271px ;
    height: 74px;
    background: url("../images/animation/trunk/trunk_2.png");
}
.ani-trunk-cap3{
    position: absolute;
    top: 0;
    left: 0;
    width:251px ;
    height: 129px;
    background: url("../images/animation/trunk/trunk_3.png");
}